@charset "utf-8";
/* svn相对地址 */
/* 项目下建立文本或者其他说明 本产品的产品及其对接的相关人员 */
@function rem($px){
	@return $px*(1/20)*1rem;
}
@import "scss/base";
@import "img";
@import "font";
@import "scss/animation";
@import "scss/ty";
@import "scss/mobile";


body {
  width: 100%;
  min-width: 1260px;
  font-family: '微软雅黑'
}
span{outline: none}
/*多行溢出*/
// 一行溢出
.one_cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 两行溢出
.two_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
}
// 三行溢出
.three_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;  
  -webkit-box-orient: vertical;
}
// 六行溢出
.six_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;  
  -webkit-box-orient: vertical;
}
// 公共版心
.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
// 头部
.header_top {
  width:100%;
  height:43px;
  background-image: url(../images/bg-top.jpg);
  a{
    &:hover{
      font-weight: bold;
    }
  }
  .header_top_left {
    height: 100%;
    ul li {
      height: 100%;
      line-height: 43px;
      span {
        display: inline-block;
        width:3px;
        height:3px;
        background:rgba(255,255,255,1);
        opacity:0.5;
        border-radius:50%;
        vertical-align: middle;
        margin-top: -3px;
      }
      a {
        color:rgba(255,255,255,1);
        opacity:0.7;
        font-size:12px;
        
        padding: 0 7px 0 1px;
      }
      .span_last {
        margin-left: -2px;
      }
    }
  }
  .header_top_right {
    height: 43px;
    line-height: 43px;
    a {
      display: inline-block;
      height: 16px;
      line-height: 16px;
      font-size:12px;
      
      padding-right: 36px;
      color:rgba(255,255,255,1);
      opacity:0.7;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
    }
    a:first-child i {
      background-image: url(../images/header-right1.png);
      background-repeat: no-repeat;
    }
    a:nth-child(2) i {
      background-image: url(../images/header-right3.png);
      background-repeat: no-repeat;
    }
    a:nth-child(3) i {
      background-image: url(../images/header-right2.png);
      background-repeat: no-repeat;
    }
    a:last-child {
      width: 14px;
      height: 14px;
      background-image: url(../images/search.png);
      background-size: 14px 14px;
      padding: 0;
      vertical-align: middle;
    }
  }
}

// nav部分
.nav {
  width: 100%;
  height: 95px;
  background-size: 100% 100%;
  position: relative;
  &:before{
    content: '';
    height: 95px;
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;
    background: #063456;
  }
  .brand {
    width: 336px;
    height: 100%;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: -120px;
      background-image: url(../images/jiao.png);
      height: 95px;
      width: 272px;
      z-index: -1;
    }
    a img {
      width: 100%;
      height: 65px;
      margin-top: 17px;
    }
  }
  .nav_list {
    line-height: 93px;
    margin-left: 14px;
    position: relative;
    a {
      font-size:16px;
      color:rgba(19,19,19,1);
      padding: 0 14px;
      display: inline-block;
      text-align: center;
      width: 65px;
      float: left;
      &:hover{
        font-weight: bold;
      }
    }
    em{
      position: absolute;
      width: 65px;
      height: 2px;
      left: 14px;
      bottom: -1px;
      background: rgba(171,132,85,1);
      transition: all .5s;
    }
  }
  .aside {
    width: 710px;
    height: 80px;
    position: absolute;
    top: 95px;
    right: -23px;
    z-index: 999;
    img{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

// 轮播
.carousel {
  position: relative;
  .swiper-container {
    width: 100%;
    min-width: 1200px;    
    height: 780px;
    .swiper-slide {
      width: 100%;
      overflow: hidden;
      min-width: 1200px;
      position: relative;
      img {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        transform: translateX(-50%);
      }
      .center {
        position: absolute;
        text-align: center;
        bottom: 86px;
        left: 50%;
        z-index: 9;
        width: 1045px;
        height: 80px;
        background-image: url(../images/swiper_center.png);
        font-size:28px;
        color:rgba(255,255,255,1);
        line-height: 80px;
        transform: translateX(-50%);

        &:after{
          content: '';
          display: block;
          position: absolute;
          width: 256px;
          height: 196px;
          background-image: url(../images/tip.png);
          background-size: 100% 100%;
          right: -57px;
          top: 0;
        }
      }
    }
    .left {
      position: absolute;
      top: 724px;
      left: 0;
      width: 79px;
      height: 78px;
      background-image: url(../images/page_left.png);
      background-size: 79px 78px;
    }
    .right {
      position: absolute;
      top: 724px;
      right: 0;
      width: 79px;
      height: 78px;
      background-image: url(../images/page_right.png);
      background-size: 79px 78px;
    }
    // 分页器
    #center {
      bottom: 37px!important;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 8px;
        background-color: #fff;
      }
    }
  }
}

// 内容标题
.title {
  margin: 66px auto 0;
  height: 36px;
  .left {
    width: 64px;
    height: 23px;
    background-image: url(../images/left.png);
  }
  .right {
    width: 64px;
    height: 25px;
    background-image: url(../images/right.png);
  }
  p {
    height:36px;
    font-size:36px;
    font-weight:bold;
    color:rgba(6,52,86,1);
    line-height:18px;
    text-align: center;
  }
}

//  内容部分
.content {
  margin-top: 66px;
  height: 276px;
  .content_left {
    width: 380px;
    height: 276px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.1);
    position: relative;
    margin-right: 30px;
    transition: all .5s;
    &:hover{
      box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
    &:last-child{
      margin-right: 0;
    }
    .top {
      span:first-child {
        display: inline-block;
        width: 48px;
        height: 20px;
        background-image: url(../images/icon.png);
        margin-top: 33px;
      }
      span:last-child {
        width:264px;
        height:23px;
        font-size:24px;
        
        color:rgba(6,52,86,1);
        line-height:30px;
        margin-top: 31px;
      }
    }
    .center {
      margin-top: 48px;
      margin-left: 35px;
      width:301px;
      font-size:12px;
      font-weight:400;
      color:rgba(153,153,153,1);
      line-height:22px;
    }
    .bottom {
      position: absolute;
      bottom: 33px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      span {
        display: inline-block;
        width: 90px;
        height: 30px;
        font-size:14px;
        color:rgba(96,96,96,1);
        line-height:24px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(221, 221, 221, 1);
        border-radius: 15px;
        line-height: 30px;
        text-align: center;
        margin: 6px;
      }
    }
  }
}
// 新闻部分
.new {
  height: 300px;
  margin-top: 101px;
  
  .new-item {
    display: inline-block;
    width: 520px;
    height: 300px;
    background-image: url(../images/new_bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: all .5s;
    overflow: hidden;
    &:hover{
      img{transform: scale(1.1)}
    }
    img{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;top: 0;
      z-index: -1;
      transition: all .5s;
    }
    .title {
      display: inline-block;
      width: 66px;
      height: 23px;
      text-align: center;
      margin: 36px 0 0 40px;
      border:1px solid rgba(255, 255, 255, 1);
      border-radius: 15px;
      font-size:12px;
      
      color:rgba(255,255,255,1);
      line-height:23px;
      opacity:0.67; 
    }
    .span {
      padding: 0 365px 0 43px;
      margin-top: 19px;
      height: 171px;
      p {
        color:rgba(255,255,255,1);
        font-size: 16px;
      }
    }
    a {
      display: inline-block;
      height:13px;
      font-size:12px;
      
      text-decoration:underline;
      color:rgba(255,255,255,1);
      opacity:0.66;
      margin-left: 43px;;
    }
  }
}

// 新闻列表
.newList {
  height: 174px;
  margin-top: 70px;
  .newText {
    display: block;
    width: 353px;
    height: 100%;
    margin-right: 70px;
    &:hover{
      .p1{font-weight: 700;color: #063456}
    }
    .left {
      width: 56px;
      height: 100%;
      background: url(../images/new_bg2.png) no-repeat top left;
      padding-right: 24px;
      margin-top: 5px;
      text-align: center;
      span {
        display: inline-block;
        color: #fff;
        width: 100%;
        
        &.month {
          margin-top: 18px;
          line-height: 13px;
        }
        &.day {
          font-size: 20px;
          line-height: 24px;
        }
        &.l_new {
          margin-top: 29px;
          font-size:12px;
          
          font-weight:400;
          color:rgba(5,51,85,1);
          line-height:0px;
        }
      }
    }
    .p1 {
      padding-bottom: 16px;
      font-size:18px;
      color:rgba(5,5,5,1);
      line-height:26px;
      transition: all .5s;
    }
    .p2 {
      width: 261px;
      font-size:13px;      
      color:rgba(154,154,154,1);
      line-height:22px;     
    }
  }
  .newText:last-child {
    margin-right: 0;
  }
  .newText:nth-child(2) {
    // .left {
    //   background: url(../images/new_time2.png) no-repeat top left;
    // }
    .p2 {
      width: 264px;
    }
  }
  .newText:nth-child(3) {
    // .left {
    //   background: url(../images/new_time3.png) no-repeat top left;
    // }
    .p2 {
      width: 266px;
    }
  }
}

// 校园生活
.school_life {
  margin-top: 79px;
  width: 100%;
  min-width: 1200px;
  height: 595px;
  background-image: url(../images/school_life.png);
  background-size: 100% 100%;
  padding-top: 87px;
  box-sizing: border-box;
  p:first-child {
    height:34px;
    font-size:36px;
    font-weight:bold;
    color:rgba(6,52,86,1);
    line-height:18px;
    text-align: center;
    margin-bottom: 29px;
  }
  .school_life_list {
    width: 100%;
    text-align: center;
    margin-bottom: 79px;
    a {
      display: inline-block;
      width: 181px;
      height: 41px;
      text-align: center;
      background-image: url(../images/school_lifeList2.png);
      font-size:18px;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:41px;
      opacity:0.8;

      &:hover{
        font-weight: bold;
      }
    }
    a.active {
      background-image: url(../images/school_lifeList1.png);
      font-weight:bold;
      color:rgba(255,255,255,1);
    }
  }
  .school_life_content {
    display: none;
    width: 100%;
    height: 161px;
    
    .slc_txt {
      width: 353px;
      height: 100%;

      &:hover{
        .p1{color: #123a58}
        .month,.day{font-weight: bold}
      }

      .left {
        width: 60px;
        height: 100%;
        padding-left: 10px;
        margin-right:33px;
        padding-top: 8px;
        border-right: 1px solid #cccccc;
        box-sizing: border-box;
        span {
          display: inline-block;
          width: 100%;
          color:rgba(6,52,86,1);
          line-height:18px;
          padding-left: 5px;
          transition: all .3s;
          &.month {
            line-height: 13px;
          }
          &.day {
            font-size: 20px;
          }
        }
      }
      .p1 {
        padding-bottom: 11px;
        font-size:18px;
        font-weight:600;
        color:rgba(0,0,0,1);
        line-height:26px;
        transition: all .3s;
      }
      .p2 {
        width: 249px;
        font-size:13px;
        font-weight:600;
        color:rgba(0,0,0,1);
        line-height:22px;
        opacity:0.6;   
      }
    }
    .slc_txt:first-child {
      margin-right: 73px;
      .p2 {
        width: 250px;
      }
    }
    .slc_txt:nth-child(2) {
      .left .time {
        background: url(../images/img/MAY31.png) no-repeat top left;
      }
    }
    .slc_txt:nth-child(3) {
      .left .time {
        background: url(../images/img/jun08.png) no-repeat top left;
      }
    }
  }
  .search {
    margin-top: 68px;
    text-align: center;
    a {
      display: inline-block;
      width:113px;
      height:14px;
      font-size:14px;
      font-weight:400;
      text-decoration:underline;
      color:rgba(171,132,85,1);
      transition: all .3s;
      white-space: nowrap;
      &:hover{
        transform: scale(1.2)
      }
    }
  }
}

// 学生风采
.student_life{
  width: 1260px;
  margin: 0 auto;
  overflow: hidden;
  .title {
    margin: 66px auto 0;
    height: 36px;
    margin-bottom: 71px;
    .left {
      width: 64px;
      height: 23px;
      cursor: pointer;
      background-image: url(../images/left.png);
      transition: all .3s;
      &:hover{
        transform: scale(1.2);
      }
    }
    .right {
      width: 64px;
      height: 25px;
      cursor: pointer;
      background-image: url(../images/right.png);
      transition: all .3s;
      &:hover{
        transform: scale(1.1);
      }
    }
    p {
      font-size:36px;

      font-weight:bold;
      color:rgba(6,52,86,1);
      line-height:0px;
      text-align: center;
    }
    .txt {
      font-size:16px;
      
      font-weight:400;
      color:rgba(102,102,102,1);
      line-height:15px;
      text-align: center;
      padding-left: 10px;
    }
  }
  .student_content {
    box-sizing: border-box;
    width: 440*3+40px;
    padding: 40px 20px 0;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(-50px);
    .student_min{
      width: 330px !important;
      padding: 0 55px;
    }
    .in {
      margin-top: 58px;
      width: 330px;
      height: 421px;
      box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.07);
      background: #fff;
      position: relative;
      display: block;
      transition: box-shadow .5s;
      &:hover{
        box-shadow:0px 3px 20px 0px rgba(0, 0, 0, 0.3);
      }
      &:last-child{
        margin-right: 0;
      }
      img {
        display: block;
        width: 100%;
        height: 207px;
      }
      .p1 {
        width:180px;
        height: 43px;
        
        color:rgba(255,255,255,1);
        line-height:20px;
        margin-left: 28px;
        span:first-child {
          font-size: 17px;
        }
        span:last-child {
          font-size: 12px;
        }
        position: absolute;
        top: 184px;
        left: -28px;
        background-image: url(../images/studentName_bg1.png);
        background-size: 180px 43px;
        line-height: 43px;
        padding-left: 28px;
        box-sizing: border-box;
      }
      .p2 {
        width:204px;
        font-size:12px;
        font-weight:400;
        color:rgba(151,151,151,1);
        line-height:24px;
        margin-top: 76px;
        margin-left: 65px;
      }
      i {
        position: absolute;
        width: 31px;
        height: 22px;
        &.left {
          bottom: 124px;
          left: 23px;
          background-image: url(../images/txt2-icon2.png);
        }
        &.right {
          bottom: 60px;
          right: 40px;
          background-image: url(../images/txt2-icon.png);
        }
      }
    }
    .swiper-slide-next{
      width: 440px !important;
      padding: 0;
    }
    .student_max .in,.swiper-slide-next .in{
      width: 440px;
      height: 554px;
      position: relative;
      top: -60px;
      margin-right: 40px;
      background: #fff;
      box-shadow:0px 3px 65px 0px rgba(0, 0, 0, 0.31);
      &:hover{
        box-shadow:0px 3px 65px 0px rgba(0, 0, 0, 0.8);
      }

      img{
        width: 100%;
        display: block;
        height: 260px;
        margin: 0 auto;
      }
      .p1 {
        width:236px;
        height: 55px;
        color:rgba(255,255,255,1);
        margin-left: 36px;
        span:first-child {
          font-size: 20px;
        }
        span:last-child {
          font-size: 14px;
        }
        position: absolute;
        top: 240px;
        left: -35px;
        background-image: url(../images/studentName_bg1.png);
        background-size: 236px 55px;
        line-height: 55px;
        padding-left: 36px;
        box-sizing: border-box;
      }
      .p2 {
        width:273px;
        font-size:16px;
        
        font-weight:400;
        color:rgba(151,151,151,1);
        line-height:30px;
        margin-top: 78px;
        margin-left: 90px;
      }
      i {
        position: absolute;
        width: 47px;
        height: 34px;
        &.left {
          bottom: 182px;
          left: 34px;
          background-image: url(../images/txt-icon2.png);
        }
        &.right {
          bottom: 68px;
          right: 41px;
          background-image: url(../images/txt-icon.png);
        }
      }
    }
  }
}

.boll {
  text-align: center;
  margin-top: 27px;
  span {
    display: inline-block;
    width:12px;
    height:12px;
    background:#000;
    border-radius:50%;
    margin:  0 10px;
  }
  span.swiper-pagination-bullet-active {
    background:rgba(6,52,86,1);
  }
}

footer{
  margin-top: 117px;
  background-image: url(../images/bg-top.jpg);
  p{
    height:18px;
    font-size:12px;
    
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:18px;
    opacity:0.47;
  }
  .footer_top{
    width: 100%;
    height: 199px;  
    overflow: hidden;
    .top_left{
      padding: 44px 0 53px;
      a{
        display: block;
        padding-bottom: 18px;
        img{
          width:269px;
          height:52px;
        }
      }
    }
    .top_right{
      padding: 83px 20px 0 0;
      a{
        width:41px;
        height:41px;
        background:rgba(255,255,255,1);
        opacity:0.42;
        border-radius:50%;
        display: inline-block;
        transition: all .5s;
        &:hover{
          transform: scale(1.1);
        }
        &:last-child{
          margin-left: 20px;
        }
        img{
          width:23px;
          height:20px;
          margin: 10px;
        }
      }
    }

  }

  .footer_botttom{
    height: 86px;
    .line_bottom{
      width:1192px;
      height:1px;
      background:rgba(255,255,255,1);
      opacity:0.19;
      }
      p{
        margin-top: 20px;
      }
  }
  a {
    color:rgba(255,255,255,1);
    &:hover{
      font-weight: bold
    }
  }
}
