@charset "utf-8";

.oh{ overflow: hidden; }
body{ background-color: #f0f0f0; font-family: "微软雅黑"; padding-bottom: rem(40);}

.index-header{
    img{width: 100%; display: block;}
}
.logo{
    width:rem(146);
    height:rem(54);
    position: absolute;
    left: rem(50);
    top: rem(50);

    img{
        width: 100%;
    }
}

.index-tabs{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 rem(22);
    background: #fff;
    box-shadow:0px rem(4) rem(10) 0px rgba(115,115,115,0.1);
    border-radius:rem(30);
    margin-top: rem(-32);
    position: relative;
    z-index: 2;

    .person{
        height: 72px;
        line-height: 72px;
        color:rgba(160,160,160,1);
        font-size:rem(30);
        border-bottom: 1px solid rgba(240,240,240,1);;
        margin: 0 rem(40) rem(30);
        a{
            float: right;
            color:rgba(36,135,245,1);
            font-size: rem(24);
        }
        i{
            display: inline-block;
            width: rem(20);
            height: rem(12);
            background-image: url(../images/up.png);
            background-size: cover;
            transform: rotate(90deg);
            vertical-align: rem(2);
            margin-left: rem(6);
        }
    }
}
.report-tab {
    display: block;
    margin: 0 auto rem(20);
    width:rem(692);
    height:rem(202);
    border-radius:rem(20);
    background-image: url(../images/index-tab4.png);
    background-size: 100% 100%;

    &:last-child{
        margin-bottom: 0;
    }

    h2{
        font-size:rem(36);
        font-weight:bold;
        color:rgba(255,255,255,1);
        padding-left: rem(38);
        padding-top: rem(24);
    }
    p{
        font-size:rem(18);
        color:rgba(255,255,255,1);
        opacity:0.7;
        padding-left: rem(38);
        margin-bottom: rem(7);
    }
    button{
        width:rem(130);
        height:rem(44);
        line-height: rem(44);
        border: 0;
        background: transparent;
        border-radius:rem(22);
        margin-left: rem(38);
        white-space: nowrap;
        font-size: rem(22);

        strong{
            vertical-align: rem(-1);
            font-size: rem(27);
        }
    }
}
.beauty-tab{
    background-image: url(../images/index-tab1.png); 
    button{
        color: #FF86A2
    }
}
.nutrition-tab{
    background-image: url(../images/index-tab2.png);
    button{
        color: #FFA57B;
    }
}
.sport-tab{
    background-image: url(../images/index-tab3.png);
    button{
        color: #6EC5FC;
    }
}
.coming-tab{
    width: rem(670);
    height: rem(180);
    margin-bottom: rem(30);
    button{margin-top: rem(16);color: #999}
}
.index-coming{
    margin-top: rem(40);
    width: 100%;
    box-sizing: border-box;
    padding: rem(40) rem(40) rem(90);
    background: #fff;
    box-shadow:0px rem(4) rem(10) 0px rgba(115,115,115,0.1);
    border-radius:rem(30);
}

// 运动
.report-header{
    img{
        width: 100%;
        display: block;
    }
}
.report-div{
    width: rem(670);
    background:rgba(255,255,255,1);
    box-shadow:0px rem(4) rem(10) 0px rgba(115,115,115,0.1);
    border-radius:rem(20);
    margin: 0 auto rem(30);
    position: relative;
    z-index: 2;
    padding-bottom: rem(40);

    p{
        font-size:rem(24);
        color:rgba(0,0,0,.8);
        line-height:rem(36);
        opacity:0.8;
    }
}
.report-res{
    margin-top: rem(-40);
}

.report-title{
    height: rem(80);
    line-height: rem(80);
    padding: 0 rem(30);
    background:linear-gradient(150deg,rgba(123,204,255,.15) 0%,rgba(155,240,255,.15) 100%);
    border-radius:rem(20) rem(20) 0 0;
    span{
        font-size:rem(36);
        font-weight:500;
        color:rgba(1,1,1,1);
        background:linear-gradient(-90deg,rgba(58,168,238,1) 0.9765625%, rgba(43,140,219,1) 100%);
        -webkit-background-clip:text;
        font-weight: bold;
        -webkit-text-fill-color:transparent;
    }
}

.report-title-2{
    height: rem(80);
    padding: rem(20) rem(30);
    background:linear-gradient(150deg,rgba(123,204,255,.15) 0%,rgba(155,240,255,.15) 100%);
    border-radius:rem(20) rem(20) 0 0;
    span{
        font-size:rem(36);
        font-weight:500;
        color:rgba(1,1,1,1);
        background:linear-gradient(-90deg,rgba(58,168,238,1) 0.9765625%, rgba(43,140,219,1) 100%);
        -webkit-background-clip:text;
        font-weight: bold;
        -webkit-text-fill-color:transparent;
        display: block;
    }
    .ab{
        font-size:rem(20);
        color:rgba(0,0,0,.5);
    }
}

.share-in{
    width: rem(350);
    height: rem(350);
    position: relative;
    padding: rem(24) 0;
    margin: 0 auto rem(-40);
    .in{
        a{
            display: block;
            position: absolute;
            top: rem(280);
            left: 50%;
            transform: translateX(-50%);
            width:rem(150);
            height:rem(60);
            line-height: rem(60);
            background:linear-gradient(135deg,rgba(0,204,255,1) 0%,rgba(0,168,255,1) 100%);
            box-shadow:0px rem(6) rem(12) 0px rgba(208,240,248,1);
            border-radius:rem(30);
            color:rgba(255,255,255,1);
            font-size:rem(24);
            text-align: center;
            text-shadow:0px 3px 6px rgba(0,126,255,1);
        }
    }
    .bg{
        width: 100%;
        height: 100%;
        display: block;
    }
    .man{
        position: absolute;
        width: rem(230);
        height: rem(230);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
    .tip{
        position: absolute;
        height:rem(50);
        padding: 0 rem(20);
        line-height:rem(50);
        white-space: nowrap;
        background:linear-gradient(140deg,rgba(112,230,255,.4) 0%,rgba(78,204,255,.4) 100%);
        border:rem(2) solid rgba(113,195,252,.4);
        box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.35);
        border-radius:rem(25) rem(25) 0px rem(25);
        text-align: center;
        span{
            background:linear-gradient(-90deg,rgba(58,168,238,1) 0.9765625%, rgba(43,140,219,1) 100%);
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
        }
    }

    .tip-1{
        right: rem(212);
        top: rem(24);
    }

    .tip-2{
        right: rem(295);
        top: rem(104);
    }

    .tip-3{
        right: rem(300);
        top: rem(157+24);
    }

    .tip-4{
        right: rem(290);
        top: rem(236+24);
    }
    .tip-5{
        left: rem(272);
        top: rem(40+24);
        border-radius:rem(25) rem(25)  rem(25) 0;
    }

    .tip-6{
        left: rem(304);
        top: rem(118+24);
        border-radius:rem(25) rem(25)  rem(25) 0;
    }
    .tip-7{
        left: rem(300);
        top: rem(197+24);
        border-radius:rem(25) rem(25)  rem(25) 0;
    }
}

.sport-show{
    padding: rem(30) rem(30) 0;
    li{
        a{
            @extend .clearfix;
        }
        margin-bottom: rem(30);

        &:last-child{
            margin-bottom: 0;
        }
    }
    .l{
        width:rem(100);
        height: rem(100);
        float: left;
        img{
            width: 100%;
            display: block;
        }
    }
    .r{
        width: rem(490);
        float: right;

        h3{
            font-size:rem(30);
            color:rgba(0,0,0,.8);
            padding: rem(5) 0 rem(5) rem(10);
        }

        .progress{
            width:rem(490);
            height:rem(40);
            line-height: rem(40);
            background:rgba(240,240,240,1);
            border-radius:rem(20);
            overflow: hidden;

            span{
                float: left;
                text-align: center;
                border-radius: rem(20);
                color:rgba(191,191,191,1);

                &:first-child.active{
                    background:linear-gradient(90deg,rgba(255,165,123,1) 0%,rgba(255,139,123,1) 100%);
                }
                &:nth-child(2).active{
                    background:linear-gradient(90deg,rgba(193,228,155,1) 0%,rgba(124,213,145,1) 100%);
                }
                &:last-child.active{
                    background:linear-gradient(90deg,rgba(140,221,255,1) 0%,rgba(113,200,255,1) 100%);
                }
                &:last-child{
                    float: right;
                }

                &.active{
                    color: #fff;
                }
            }
            
        }

        .progress-3 span{
            width: 33.33%;
        }

        .progress-2 span{
            width: 50%;
        }
    }
}

.second-header{
    .bg{width: 100%;}
}
.sport-progress{
    padding-top: rem(40);
    width: rem(610);
    margin: 0 auto rem(30);

    .line{
        width:rem(610);
        height:rem(40);
        background:rgba(240,240,240,1);
        border-radius:rem(20);
        position: relative;
        overflow: hidden;
    }
    p{
        overflow: hidden;
        font-size: rem(22);
        span:first-child{float: left; margin-left: rem(14);}
        span:last-child{float: right; margin-right: rem(14);}
    }

    .self-progress{
        float: left;
        height:rem(40);
        background:linear-gradient(90deg,rgba(140,221,255,1) 0%,rgba(113,200,255,1) 100%);
        border-radius: rem(20);
        margin-bottom: rem(5);
    }
}

p.sp-1{
    display: block;
    width: rem(610);
    margin: 0 auto;
    font-size:rem(28);
    font-weight:400;
    color:rgba(114,201,255,1);
    margin-bottom: rem(24);

    em{
        font-weight: bold;
        font-size: rem(36);
    }
}

p.sp-2{
    display: block;
    width: rem(610);
    margin: 0 auto;
    font-size:rem(24);
    color:rgba(0,0,0,.8);
    line-height:rem(30);
    opacity:0.8;

    em{
        color: #31BA50;
    }
}

.second-top-div{
    margin-top: rem(-120);
}

.second-top{
    position: absolute;
    width: rem(100);
    right: rem(30);
    top: rem(-50);
}

.img-advise{
    margin-bottom: rem(-40);
    @extend .clearfix;

    li{
        float: left;
        width: 33.33%;
        height: rem(250);
        box-sizing: border-box;
        position: relative;
        text-align: center;
        padding-top: rem(40);

        &:after{
            content: '';
            right: 0;
            bottom: 0;
            width:1px;
            height:rem(250);
            background:linear-gradient(0deg,rgba(240,240,240,1) 0%,rgba(244,253,255,1) 100%);
        }

        &::nth-child(3n){
            display: none;
        }
    }

    img{
        width: rem(140);
        height: rem(140);
    }

    p{
        font-size:rem(24);
        color:rgba(0,0,0,.6);
    }
}

.sport-text{
    padding: rem(30) rem(30) 0;
}

.open-div{
    width:rem(610);
    margin: rem(20) auto 0;
    h2{    
        height:rem(70);
        line-height: rem(70);
        color:rgba(43,140,219,1);
        padding-left: rem(20);
        background:linear-gradient(-90deg,rgba(140,221,255,.25) 0%,rgba(113,200,255,.25) 100%);
        border-radius:rem(10);

        i{
            display: inline-block;
            float: right;
            margin-right: rem(30);
            width: rem(20);
            height: rem(12);
            background-image: url(../images/up.png);
            background-size: cover;
            vertical-align: rem(2);
            margin-top: rem(28);
            transform: rotate(180deg);
            transition: all .3s;
        }
    }

    .in{
        display: none;
        padding: rem(30) rem(20);
        background:rgba(247,247,247,1);
        border-radius:0px 0px rem(10) rem(10);
    }

    &.open{
        i{
            transform: rotate(0);
        }
        .in{
            display: block;
        }
    }
}

.sport-table{
    width: rem(610);
    margin: 0 auto;
    padding-top: rem(40);

    .tr{
        width: 100%;
        background:rgba(240,253,255,1);
        min-height: rem(40);
        line-height: rem(40);
        text-align: center;
        overflow: hidden;
        border-bottom: 1px solid #fff;

        &:first-child{
            height:rem(50);
            background:linear-gradient(-90deg,rgba(140,221,255,1) 0%,rgba(113,200,255,1) 100%);
            border-radius:10px 10px 0px 0px;
        }

        .th,.td{
            display: block;
            float: left;
            width: 25%;
            line-height: rem(40);
            font-size:rem(24);
            color:rgba(0,0,0,.8);
            border-right: 1px solid #fff;
            box-sizing: border-box;

            &:last-child{
                border-right: 0;
            }
        }

        .th{
            color: #fff;
            line-height: rem(50);
        }

        .red{
            color:rgba(255,103,101,.8);
            font-weight: 500;
        }
        .green{
            color:rgba(49,186,80,.8);
            font-weight: 500;
        }
    }
}

// 营养
.nutrition-report{
    .report-title{
        background:linear-gradient(-90deg,rgba(255,192,162,.1) 0%,rgba(255,165,123,.1) 100%);
        span{
            background:linear-gradient(-90deg,rgba(255,165,123,1) 0%, rgba(255,127,70,1) 100%);
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
        }
    }

    .share-in{
        .tip{
            background:linear-gradient(-45deg,rgba(255,190,160,.4) 0%,rgba(255,216,188,.4) 100%);
            border: 0;

            span{
                background:linear-gradient(-90deg,rgba(255,165,123,1) 0%, rgba(255,127,70,1) 100%);
                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;
            }
        }

        .tip-1{
            right: rem(255);
            top: rem(10+24);
        }

        .tip-2{
            right: rem(331);
            top: rem(114+24);
        }

        .tip-3{
            right: rem(311);
            top: rem(217+24);
        }

        .tip-4{
            left: rem(310);
            right: auto;
            top: rem(62+24);
            border-radius:rem(25) rem(25)  rem(25) 0;
        }

        .tip-5{
            left: rem(332);
            top: rem(165+24);
            border-radius:rem(25) rem(25)  rem(25) 0;
        }

        .in{
            a{
                box-shadow:0px 6px 12px 0px rgba(255,211,190,1);
                background:linear-gradient(-45deg,rgba(255,165,123,1) 0%,rgba(255,175,137,1) 100%);
                text-shadow:0px 3px 6px rgba(255,132,0,1);
            }
        }
    }

    .sport-progress{
        .self-progress{
            background:linear-gradient(90deg,rgba(255,165,123,1) 0%,rgba(255,139,123,1) 100%);
        }
    }

    p.sp-1{color:rgba(255,177,140,1);}
    p.sp-2 em{color: rgba(243, 61, 20, .8)}

    .nutrition-advise{
        padding-top: rem(35);
        img{
            width: rem(250);
            display: block;
            margin: 0 auto rem(28);
        }
        p{
            display: block;
            margin: 0 auto;
            width:rem(590);
            font-size:rem(24);
            color:rgba(0,0,0,.8);
            line-height:rem(36);
            word-break: break-all;
        }
        strong{
            font-size: rem(36);
            font-weight: bold;
            color: rgba(255, 128, 71, .8)
        }
    }
    .sport-table{
        .tr{
            background:rgba(255,249,245,1);
            &:first-child{background:linear-gradient(-90deg,rgba(255,192,162,1) 0%,rgba(255,165,123,1) 100%);}
        }
    }
}

.progress-ing{
    width:rem(490);
    height:rem(40);
    background:rgba(240,240,240,1);
    border-radius:rem(20);

    span{
        float: left;
        text-align: center;
        height: rem(40);
        line-height: rem(40);
        font-size:rem(24);
        color:rgba(255,255,255,1);
        border-radius: rem(20);
    }

    .progress-1,.progress-2{
        background:linear-gradient(90deg,rgba(140,221,255,1) 0%,rgba(113,200,255,1) 100%);
    }
    .progress-3{
        background:linear-gradient(90deg,rgba(193,228,155,1) 0%,rgba(124,213,145,1) 100%);
    }
    .progress-4,.progress-5{
        background:linear-gradient(90deg,rgba(255,165,123,1) 0%,rgba(255,139,123,1) 100%);
    }
    .progress-1{width: 20%}
    .progress-2{width: 40%}
    .progress-3{width: 60%}
    .progress-4{width: 80%}
    .progress-5{width: 100%}
}

.beauty-report{
    .report-title{
        background:linear-gradient(90deg,rgba(255,130,169,.1) 0%,rgba(255,172,130,.1) 100%);
        span{
            background:linear-gradient(0deg,rgba(255,81,126,1) 0%, rgba(255,121,161,1) 100%);
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent
        }
    }

    .share-in{
        .tip{
            background:linear-gradient(-45deg,rgba(255,148,173,.4) 0%,rgba(255,186,194,.4) 100%);
            border: rem(2) solid rgba(255,121,161,.4);
            box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.35);
            border-radius:25px 25px 0px 25px;

            span{
                background:linear-gradient(0deg,rgba(255,81,126,1) 0%, rgba(255,121,161,1) 100%);
                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;
            }
        }

        .tip-1{
            right: rem(255);
            top: rem(10+24);
        }

        .tip-2{
            right: rem(331);
            top: rem(114+24);
        }

        .tip-3{
            right: rem(311);
            top: rem(217+24);
        }

        .tip-4{
            left: rem(310);
            right: auto;
            top: rem(62+24);
            border-radius:rem(25) rem(25)  rem(25) 0;
        }

        .tip-5{
            left: rem(332);
            top: rem(165+24);
            border-radius:rem(25) rem(25)  rem(25) 0;
        }

        .in{
            a{
                box-shadow:0px 6px 12px 0px rgba(255,211,190,1);
                background:linear-gradient(-45deg,rgba(255,165,123,1) 0%,rgba(255,175,137,1) 100%);
                text-shadow:0px 3px 6px rgba(255,132,0,1);
            }
        }
    }

    .sport-table{
        .tr{
            background:rgba(255,248,248,1);
            &:first-child{background:linear-gradient(90deg,rgba(255,148,173,1) 0%,rgba(255,186,194,1) 100%);}
        }
    }

    .table-2{
        .tr{
            position: relative;
            .th,.td{
                width: 50%;
            }
            .td:last-child{
                float: right;
                padding: rem(12);
                text-align: justify;
            }
            .td:first-child{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0 , -50%)
            }
        }
    }

    p.sp-1{color:#FF98B0;text-align: center;}
    p.sp-2 em{color: rgba(49, 186, 80, .8); text-align: center;}
}

.mf-list{
    @extend .clearfix;
    margin-bottom: rem(-40);

    li{
        float: left;
        width: 50%;
        height: rem(334);
        box-sizing: border-box;
        padding-top: rem(38);
        text-align: center;

        img{
            display: block;
            margin: 0 auto;
            width: rem(198);
            height: rem(198);
            margin-bottom: rem(20);
        }

        border-bottom: 1px solid rgba(115,115,115,0.1);
        border-right: 1px solid rgba(115,115,115,0.1);

        &:nth-child(2n){
            border-right: 0;
        }
    }
}

.top-img{
    line-height: rem(100);
    height: rem(100);
    padding: 0 rem(50);
    font-size:rem(48);
    font-weight: 600;
    color:rgba(254,254,254,1);
    margin: -8rem 0 rem(15);

    img{
        display: inline-block;
        height: rem(100);
        width: rem(100);
        margin-right: rem(15);
        vertical-align: middle;
        box-shadow:0px rem(4) rem(10) 0px rgba(115,115,115,0.1);
        border-radius: rem(100);
    }
}

// 手机
.phone{ display: none; }
