@charset "utf-8";

input::-webkit-search-cancel-button{
	display: none;
}
input[type=search]::-ms-clear,input[type=text]::-ms-clear{
	display: none;
}
body{
    font-family: '微软雅黑';
}
.mt60{margin-top: rem(60) !important;}
.mb35{margin-bottom: rem(35) !important;}
.mb50{margin-bottom: rem(50) !important;}
.mb20{margin-bottom: rem(20) !important;}
body{position: relative;}
*{word-break: break-all}
$color1: rgba(104,195,35,1);
$color2: rgba(253,176,8,1);;
$color3: rgba(255,167,199,1);
$color4: rgba(137,160,255,1);
$color5: rgba(196,147,242,1);
$color6: rgba(241,196,110,1);
$color7: rgba(68,189,207,1);

.back-btn{
	display: block;
	border-radius: rem(10);
	margin: 0 rem(75) rem(50);
	font-size:rem(30);
	font-weight: bold;
	line-height: rem(40);
	position: relative;
	z-index: 3;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-radius: rem(43);
	}
}
.sport-header{
	.bannar{
		display: block;
		width: 100%;
	}
	.logo{
		position: absolute;
		left: rem(80);
		top: rem(80);
		width: rem(287);
		z-index: 2;
	}
	h2,p{position: absolute;left: 50%;transform: translateX(-50%);text-align: center;}
	h2{
		top: rem(250);
		font-size:rem(30);
		font-weight:bold;
		color:rgba(255,255,255,1);
		line-height:rem(40);
		text-shadow:0px rem(4) rem(10) rgba(86,167,255,1);
	}
	p{
		top: rem(290);
		position: absolute;
		width:rem(300);
		height:rem(50);
		font-size:rem(48);
		padding: rem(10) 0;
		font-weight:bold;
		color:rgba(255,255,255,1);
		text-shadow:0px rem(4) rem(10) rgba(106,183,254,1);
	}
}
.sport-products{
	position: relative;
	z-index: 3;
	li{
		width:100%;
		min-height:rem(290);
		padding-bottom: rem(120);
		background: $color1;
		border-radius: rem(50) rem(50) 0px 0px;
		box-shadow: inset 0px 0px rem(10) 0px rgba(145,209,142,1);
		margin-top: rem(-110);
		position: relative;

		&.product-1{
			margin-top: rem(-40);
			img{
				width: rem(114)
			}
			.in .tags{
				color: $color1;
			}
		}
		&.product-2{
			box-shadow: inset 0px 0px rem(10) 0px rgba(252,197,96,1);
			background: $color2;
			img{
				width: rem(115)
			}
			.in .tags{
				color: $color2;
			}
		}
		&.product-3{
			box-shadow: inset 0px 0px rem(10) 0px rgba(255,167,199,1);
			background: $color3;
			img{
				width: rem(120)
			}
			.in .tags{
				color: $color3;
			}
		}
		&.product-4{
			box-shadow: inset 0px 0px rem(10) 0px rgba(137,160,255,1);
			background: $color4;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color4;
			}
		}
		&.product-5{
			box-shadow: inset 0px 0px rem(10) 0px rgba(176,129,220,1);
			background: $color5;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color5;
			}
		}
		&.product-6{
			box-shadow: inset 0px 0px rem(10) 0px rgba(241,196,110,1);
			background: $color6;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color6;
			}
		}
		&.product-7{
			box-shadow: inset 0px 0px rem(10) 0px rgba(68,189,207,1);
			background: $color7;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color7;
			}
		}
		img{
			position: absolute;
			left: rem(40);
			top: rem(90);
		}
		.in{
			padding: 0 rem(40) 0 rem(185);
			color: #fff;
			border-radius: rem(50) rem(50) 0px 0px;
			height: 100%;
			h2{
				font-size:rem(40);
				font-weight:bold;
				line-height:rem(68);
				padding: rem(28) 0 rem(10);
			}
			.text{
				font-size:rem(28);
				line-height:rem(35);
				overflow: hidden;
				margin-bottom: rem(28);
			}
			.tags{
				@extend .clearfix;
				em{
					float: left;
					font-size:rem(28);
					padding: rem(6) rem(30);
					line-height: 1;
					-webkit-box-pack: center;
					border-radius: rem(42);
					background: #fff;
					margin: 0 rem(10) rem(10) 0;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		.num{
			position: absolute;
			top: rem(28);
			right: rem(28);
			font-size:rem(97);
			line-height: rem(97);
			font-weight:bold;
			color:rgba(255,255,255,1);
			opacity:0.1;
		}
	}
}
.report-time{
	text-align: center;
	margin-top: rem(-74);
	font-size:rem(20);
	font-weight:bold;
	color:rgba(255,255,255,1);
	line-height:rem(40);
	text-shadow:0px 4px 10px rgba(137,160,255,1);
	position: relative;
	z-index: 5;
}

.second {
	position: relative;
	height: 100%;
	background-size: 100% auto;
	box-sizing: border-box;

	&:before{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		z-index: 2;
	}
	&:after{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.bannar{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 4;
	}
	h1{
		position: absolute;
		width: 100%;
		top: rem(100);
		font-size:rem(94);
		font-family:SourceHanSansCN-Bold;
		font-weight: bolder;
		color:rgba(255,253,250,1);
		text-align: center;

		span{
			position: relative;
			z-index: 4;
		}
	}
}

.second-in{
	padding: rem(347) 0 rem(35);
}


.list-detial{
	margin: 0 auto;
	padding-top: rem(30);
	li{
		display: block;
		margin: 0 auto;
		width:rem(500);
		padding: 0 rem(20) 0 rem(30);
		box-sizing: border-box;
		height:rem(90);
		line-height: rem(90);
		border-radius:rem(45);
		margin-bottom: rem(30);
		border: 1px solid #fff;
		font-size: rem(30);
	}
	a{color: inherit}
	em{
		float: right;
		margin-top: rem(15);
		display: inline-block;
		min-width: rem(60);
		text-align: center;
		line-height: 1;
		-webkit-box-pack: center;
		color: #fff;
		position: relative;
		padding: rem(14) rem(15);
		border-radius: rem(4) rem(56) rem(56) rem(4);
	}
}

.tabs-and-boxs{
	width: rem(600);
	margin: 0 auto rem(100);
	background:rgb(134,196,72);
	box-shadow:inset 0px 0px rem(10) 0px rgba(255,255,255,1);
	border-radius:rem(10);
	position: relative;
	z-index: 4;
	.tabs-list{
		@extend .clearfix;
		height: rem(90);
		line-height: rem(90);
		color: #fff;
		text-align: center;
		
		li{
			width: rem(200);
			float: left;
			position: relative;
			z-index: 1;
			
		}
		li.active{
			color:rgba(69,135,94,1);
			font-weight: bold;
			background:rgba(240,255,250,1);
			border-radius: rem(10) rem(10) 0 0;
			position: relative;
			font-size: rem(28);
			z-index: 3;
		}
	}
	.tabs-boxs ul{
		display: none;
		min-height: rem(650);
		padding: rem(40) 0;
		background:rgba(240,255,250,1);
		border-radius:rem(10);
		box-shadow:0px 0px rem(10) 0px rgba(135,204,112,1);
		position: relative;
		z-index: 2;
		&.active{display: block;}
		&:first-child{
			border-radius: 0 rem(10) rem(10);
		}
		&:last-child{
			border-radius: rem(10) 0 rem(10) rem(10);
		}
	}
}



// 三级页面
.third-main{
	position: relative;
	height: 100%;
	background-size: 100% auto;
	box-sizing: border-box;
	padding-top: rem(30);
	-webkit-overflow-scrolling: auto;
	&:before{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		z-index: 2;
	}
	&:after{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: 1;
	}
	>div{
		overflow: hidden;
		border-radius: rem(10);
		position: relative;
		margin: 0 rem(40) rem(50);
		padding:  rem(50);
		font-size:rem(28);
		line-height: rem(40);
		position: relative;
		z-index: 3;
		p{text-align: justify}
	}
	.third-res{
		overflow: hidden;
		h1{
			position: absolute;
			top: rem(320);
			right: rem(20);
			font-size: rem(50);
			font-weight: 800;
			height: rem(70);
			line-height: rem(70);
			text-align: center;
			padding: 0 rem(15);
			white-space: nowrap;
		}
		img{
			width: rem(640);
			height: rem(340);
			border-radius: rem(4);
			margin: rem(-50+15) 0 0 rem(-50+15);
		}
		.report-res{margin-top: rem(40);}
		.report-res.double{position: relative; top: rem(15)}
		p{float: right;width: rem(350);padding-top: rem(50);}
	}
	
	.third-about,.third-content,.third-rec{
		.about-text{width: rem(350); margin-top: rem(-40);}
		.about-img{
			position: absolute;
			top: 0;
			right: 0;
			width: rem(550);
			z-index: -1;
		}
		.img-2{
			width: rem(230);
			top: rem(90);
			right: 0;
		}
	}
	.third-about p:nth-child(2){margin-top: rem(-40)}
	.third-rec{
		>p{margin-bottom: rem(30);}
		img{width: 100%;}
	}
	.case{
		padding: 0 rem(30);
		position: relative;
		color:rgba(255,255,240,1);
		margin-bottom: rem(20);
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius:rem(10);
			pointer-events: none;
		}
		>span{display: block; color: #fff; height: rem(78); line-height: rem(78);font-size: rem(30)}
		i{
			position: absolute;
			top: rem(20);
			right: rem(30);
			width: rem(30);
			height: rem(30);
			background-image: url(../../images/open-icon.png);
			background-size: 100%;
			transform: rotate(180deg);
		}
		p{color:rgba(255,255,240,.7); display: none;}
		&.open {
			padding-bottom: rem(30);
			i{transform: rotate(0deg);}
			p{
				display: block
			}
			
		}
	}

	.third-bac, .third-why{
		.third-tit-3{margin-bottom: rem(40);}
	}
	.third-why{
		margin-bottom: rem(40);
		.table{padding-right: rem(185); position: relative;}
		table{
			width: rem(380);text-align: center; line-height: rem(52);
		}
		th{text-align: center;opacity: .5;}
		.res{
			position: absolute;
			top: rem(-20);
			right: 0;
			width: rem(185);
			line-height: rem(52);
			font-size:rem(28);
			text-align: center;
			z-index: 3;
			-webkit-text-stroke: 0 !important;
			color:rgba(240,255,250,1) !important;
			padding: rem(20) 0;
			p{height: rem(52);position: relative; overflow: hidden; text-align: center;}
			p:first-child{color:rgba(255,255,240,.5);line-height: rem(52);}
			p span{display: block;width: 100%;position: absolute; top: 50%; transform: translateY(-50%)}
		}
		th,td{padding: 0}
	}
	.hide-why{
		.open-why{
			display: block; text-align: center;padding: rem(40) 0 0;
			margin-bottom: 0;
			i{
				display: inline-block;
				margin-left: rem(20);
				width: rem(30);
				height: rem(30);
				border-radius: rem(30);
				vertical-align: middle;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					left: 25%;
					
					top: 15%;
					display: inline-block;  
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;  
					width: rem(12);
					height: rem(12);  
					transform: rotate(135deg);
				}
			}
		}
		&.open{
			.open-why{padding: rem(40) 0;}
			.open-why i:after{top: 40%;transform: rotate(-45deg);}
			h4{display: inline-block;}
			p{display: block;}
		}
		p{margin-bottom: rem(50);}
		p:last-child{margin-bottom: 0;}
		h4,p{display: none;}
	}
	.third-tit{
		font-size:rem(56);
		font-weight:600;
		line-height:rem(60);
	}
	.third-tit-2,.third-tit-3{
		font-size:rem(110);
		font-weight:bold;
		line-height:rem(110);
		opacity:0.1;
	}
	.third-tit-3{
		display: inline-block;
		font-size: rem(32);
	}

	.tabs-and-boxs{
		width: rem(650);
		.tabs-list li{width: 50%;}
		.tabs-boxs ul{min-height: 0}
	}
}
.back-btn{
	padding:0;
	text-align: center;
	height:rem(100);
	line-height: rem(100);
	border-radius: rem(100);
	background:#fff;
	display: block;
}
.tabs-boxs{position: relative;}
.box-s2{
	position: absolute;
	left: 50%;
	bottom: rem(-24);
	margin-left: rem(-554/2);
	width:rem(554);
	height:rem(200);
	background:rgba(240,255,250,1);
	box-shadow: inset 0px 0px rem(60) 0px rgba(31,167,64,1);
	border-radius:rem(10);
}
.box-s1{
	position: absolute;
	left: 50%;
	bottom: rem(-48);
	margin-left: rem(-520/2);
	width:rem(520);
	height:rem(200);
	background:rgba(240,255,250,1);
	box-shadow: inset 0px 0px rem(60) 0px rgba(31,167,64,1);
	border-radius:rem(10);
}
// 
.report-res{
	width: rem(190);
	height: rem(190);
	display: inline-block;
	line-height: rem(190);
	color: #fff;
	font-size: rem(40);
	background-size: 100% 100%;
	text-align: center;

	&.double{
		font-size:rem(30);
		font-weight:bold;
		line-height:rem(32);
		box-sizing: border-box;
		padding-top: rem(64);
	}
}
.res-blue{
	background-image: url(../../images/biaozhi1.png)
}
.res-red{
	background-image: url(../../images/biaozhi2.png)
}
.res-green{
	background-image: url(../../images/biaozhi3.png)
}
.res-yellow{
	background-image: url(../../images/biaozhi4.png)
}
.mg{display: inline-block; vertical-align: middle;height:rem(32); line-height: rem(32); background:rgba(69,135,94,1);padding: 0 rem(20);white-space: nowrap;color: #fff;border-radius: rem(32)}
.rec-food{
	padding: rem(36);
	color: #45875E;
	font-size: rem(25);
	.top{
		overflow: hidden;
		margin-bottom: rem(40);
		strong{margin-bottom: rem(20);display: block;}
		p{
			width: rem(360);
			float: right;
		}
	}
	img{
		float: left;
		width: rem(185);
		height: rem(185);
		border-radius: rem(185);
	}
}
.third-3-advise{
	em{
		padding:0 rem(30);
		line-height: rem(56);
		font-size:rem(30);
		font-weight:bold;
		color:rgba(251,248,244,1);
		border-radius: rem(56);
		background: #FF95BE;
		text-align: center;
		display: inline-block;
		margin: 0 rem(20) rem(30);
	}
}
.third-3 .third-3-rec{
	background:rgba(255,121,167,1);
	box-shadow: inset 0px 0px rem(20) 0px #F96795;

	.third-tit-2{
		position: absolute;
		font-size: rem(110);
		top: rem(59);
		right: rem(36);
		color: #F0FFFA;
		display: inline-block;
	}

	.commodity{
		li{padding-left: rem(210);position: relative; margin-bottom: rem(50); min-height: rem(185);
			&:last-child{margin-bottom: 0;}
		}
		img{position: absolute; left: 0;top: 0; width: rem(185); height: rem(185); background: #fff; border-radius: rem(190);}
		h3{
			font-size:rem(28);
			font-weight:bold;
			color:rgba(255,255,255,1);
			line-height:rem(60);
			margin-bottom: rem(30);
		}
		p{
			font-size:rem(22);
			color:rgba(240,255,250,1);
			line-height:rem(40);
		}
	}
}
.third-main .third-3-advise{
	overflow: initial;
	.third-tit-4{
		position: absolute;
		top: rem(-20);
		right: rem(50);
		padding: 0 rem(40);
		height:rem(100);
		line-height: rem(100);
		background:rgba(250,148,187,1);
		border-radius: 0 0 rem(50) rem(50);
		font-size:rem(42);
		font-weight:bold;
		color:rgba(255,255,255,1);
	}
	.advises{
		padding-top: rem(70);
		overflow: hidden;
		width: rem(480+36);
		margin: 0 auto;
		li{
			float: left;
			width: rem(120);
			height: rem(120);
			margin-bottom: rem(12);
			background:rgba(252,122,166,1);
			color: #fff;
			font-size:rem(24);
			font-weight:bold;
			line-height:rem(30);
			text-align: center;
			box-sizing: border-box;
			position: relative;
			margin-right: rem(11);
			white-space: nowrap;
			&:nth-child(4n){
				margin-right: 0;
			}
		}
		span{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.third-main .third-3-foods{
	padding: 0;
	li{
		padding: 0;
		margin: 0 rem(36);
		padding: rem(36) 0;
		border-bottom: 1px solid rgba(250,148,187,.6);
		color: #F96795;
	}
}

.percent-con {
	position:relative;
	display:inline-block;
	height:rem(190);
	width:rem(190);
	vertical-align: middle;
	margin: 0 rem(50) 0 rem(70)
}
  
.percent-circle {
	position:absolute;
	height:100%;
	background:#C7E8A8;
	overflow: hidden;
}
  
.percent-circle-right {
	right:0;
	width:rem(100);
	border-radius: 0 100px 100px 0/0 100px 100px 0;
}
  
.percent-circle-right .right-content{
	position: absolute;
	content: '';
	width: 100%; 
	height: 100%;
	transform-origin:left center;
	transform: rotate(0deg);
	border-radius: 0 100px 100px 0/0 100px 100px 0;
	background:#fff;
}
  
.percent-circle-left {
	width:rem(100);
	border-radius: 100px 0 0 100px/100px 0 0 100px;
}
  
.percent-circle-left .left-content {
	position: absolute;
	content: '';
	width: 100%; 
	height: 100%;
	transform-origin:right center;
	transform: rotate(0deg);
	border-radius: 100px 0 0 100px/100px 0 0 100px;
	background:#fff;
}
  
.text-circle {
	position: absolute;
	height:80%;
	width:80%;
	left:10%;
	top:10%;
	border-radius:100%;
	background:rgba(122,207,46,1);
	box-shadow: inset 0px 0px 10px 0px rgba(122,201,42,1);
	color:#fff;
	font-size: rem(40);
	text-align: center;
	box-sizing: border-box;
	padding-top: rem(40);
	em{font-size: rem(50);white-space: nowrap;}
	.middle{font-size:rem(20);display: block;}
	.small{white-space: nowrap;}
}

.percent-red{
	.percent-circle{
		background: #feb584;
	}
	.text-circle{
		background:rgba(254,107,9,1);
		box-shadow: inset 0px 0px 10px 0px rgba(254,107,9,1);
	}
}

.percent-yellow{
	.percent-circle{
		background: #fedc84;
	}
	.text-circle{
		background:rgba(254,186,9,1);
		box-shadow: inset 0px 0px 10px 0px rgba(254,186,9,1);
	}
}

.percent-blue{
	.percent-circle{
		background: #add8fc;
	}
	.text-circle{
		background:rgba(92,179,252,1);
		box-shadow: inset 0px 0px 10px 0px rgba(92,179,252,1);
	}
}

.show-all{
	text-align: center !important;
	padding-bottom: rem(20);
	i{
		position: relative;
		top: -0.2rem;
		vertical-align: middle;
		margin-left: .5rem;
    display: inline-block;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    width: .4rem;
    height: .4rem;
    transform: rotate(135deg);
	}
	&.on i{transform: rotate(-45deg);top: 0;}
}

.mt-first{
	margin-top: -1.333rem;
}

.new-text-bar{
	float: right;
	width: 11.6666666667rem;
	position: relative;
	height: 6.333rem;
	margin-top: 1.333rem;
	p{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		padding-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;  
		-webkit-box-orient: vertical;
		padding-top: 0 !important;
	}
}
