@charset "utf-8";

input::-webkit-search-cancel-button{
	display: none;
}
input[type=search]::-ms-clear,input[type=text]::-ms-clear{
	display: none;
}
body{
    font-family: '微软雅黑';
}
.mt60{margin-top: rem(60) !important;}
.mb35{margin-bottom: rem(35) !important;}
body{position: relative;}
*{word-break: break-all}
$color1: rgba(104,195,35,1);
$color2: rgba(253,176,8,1);;
$color3: rgba(255,167,199,1);
$color4: rgba(137,160,255,1);
$color5: rgba(196,147,242,1);
$color6: rgba(241,196,110,1);
$color7: rgba(68,189,207,1);
.back-btn{
	display: block;
	border-radius: rem(10);
	margin: 0 rem(75) rem(50);
	font-size:rem(30);
	font-weight: bold;
	line-height: rem(40);
	position: relative;
	z-index: 3;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-radius: rem(43);
	}
}
.sport-header{
	.bannar{
		display: block;
		width: 100%;
	}
	.logo{
		position: absolute;
		left: rem(80);
		top: rem(80);
		width: rem(287);
		z-index: 2;
	}
	h2,p{position: absolute;left: 50%;transform: translateX(-50%);text-align: center;}
	h2{
		top: rem(250);
		font-size:rem(30);
		font-weight:bold;
		color:rgba(255,255,255,1);
		line-height:rem(40);
		text-shadow:0px rem(4) rem(10) rgba(86,167,255,1);
	}
	p{
		top: rem(290);
		position: absolute;
		width:rem(300);
		height:rem(50);
		font-size:rem(48);
		padding: rem(10) 0;
		font-weight:bold;
		color:rgba(255,255,255,1);
		text-shadow:0px rem(4) rem(10) rgba(106,183,254,1);
	}
}
.sport-products{
	position: relative;
	z-index: 3;
	li{
		width:100%;
		height:rem(410);
		background: $color1;
		border-radius: rem(50) rem(50) 0px 0px;
		box-shadow: inset 0px 0px rem(10) 0px rgba(145,209,142,1);
		margin-top: rem(-110);
		position: relative;

		&:nth-child(1){
			margin-top: rem(-40);
			img{
				width: rem(114)
			}
			.in .tags{
				color: $color1;
			}
		}
		&:nth-child(2){
			box-shadow: inset 0px 0px rem(10) 0px rgba(252,197,96,1);
			background: $color2;
			img{
				width: rem(115)
			}
			.in .tags{
				color: $color2;
			}
		}
		&:nth-child(3){
			box-shadow: inset 0px 0px rem(10) 0px rgba(255,167,199,1);
			background: $color3;
			img{
				width: rem(120)
			}
			.in .tags{
				color: $color3;
			}
		}
		&:nth-child(4){
			box-shadow: inset 0px 0px rem(10) 0px rgba(137,160,255,1);
			background: $color4;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color4;
			}
		}
		&:nth-child(5){
			box-shadow: inset 0px 0px rem(10) 0px rgba(176,129,220,1);
			background: $color5;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color5;
			}
		}
		&:nth-child(6){
			box-shadow: inset 0px 0px rem(10) 0px rgba(241,196,110,1);
			background: $color6;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color6;
			}
		}
		&:nth-child(7){
			box-shadow: inset 0px 0px rem(10) 0px rgba(68,189,207,1);
			background: $color7;
			img{
				width: rem(111)
			}
			.in .tags{
				color: $color7;
			}
		}
		img{
			position: absolute;
			left: rem(40);
			top: rem(90);
		}
		.in{
			padding: 0 rem(40) 0 rem(185);
			color: #fff;
			border-radius: rem(50) rem(50) 0px 0px;
			height: 100%;
			h2{
				font-size:rem(40);
				font-weight:bold;
				line-height:rem(68);
				padding: rem(28) 0 rem(10);
			}
			.text{
				font-size:rem(28);
				line-height:rem(35);
				overflow: hidden;
				margin-bottom: rem(28);
			}
			.tags{
				@extend .clearfix;
				em{
					float: left;
					font-size:rem(28);
					padding: rem(6) rem(30);
					line-height: 1;
					-webkit-box-pack: center;
					border-radius: rem(42);
					background: #fff;
					margin: 0 rem(10) rem(10) 0;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		.num{
			position: absolute;
			top: rem(28);
			right: rem(28);
			font-size:rem(97);
			line-height: rem(97);
			font-weight:bold;
			color:rgba(255,255,255,1);
			opacity:0.1;
		}
	}
}
.report-time{
	text-align: center;
	margin-top: rem(-74);
	font-size:rem(20);
	font-weight:bold;
	color:rgba(255,255,255,1);
	line-height:rem(40);
	text-shadow:0px 4px 10px rgba(137,160,255,1);
	position: relative;
	z-index: 5;
}

.second {
	position: relative;
	height: 100%;
	background-size: 100% auto;
	box-sizing: border-box;

	&:before{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		z-index: 2;
	}
	&:after{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.bannar{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 4;
	}
	h1{
		position: absolute;
		width: 100%;
		top: rem(100);
		font-size:rem(94);
		font-family:SourceHanSansCN-Bold;
		font-weight: bolder;
		color:rgba(255,253,250,1);
		text-align: center;

		span{
			position: relative;
			z-index: 4;
		}
		&::after{
			content: '';
			position: absolute;
			width:rem(360);
			left: 50%;
			top: rem(105);
			margin-left: rem(-180);
			height:rem(36);
			opacity:0.5;
			z-index: 3;
		}
	}
}

.second-in{
	padding: rem(347) 0 rem(35);
}

.second-about, .second-con{
	margin: 0 rem(40);
	padding:  rem(50);
	background-color:#fff;
	border-radius: rem(10);
	font-size:rem(28);
	line-height:rem(40);
	position: relative;

	&:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: rem(10);
		z-index: 1;
		pointer-events: none;
	}
	p{text-align: justify}
}

.list-detial{
	margin: 0 auto;
	padding-top: rem(30);
	li{
		display: block;
		margin: 0 auto;
		width:rem(490);
		padding: 0 rem(20) 0 rem(40);
		box-sizing: border-box;
		height:rem(90);
		line-height: rem(90);
		border-radius:rem(45);
		margin-bottom: rem(30);
		border: 1px solid #fff;
		font-size: rem(30);
	}
	a{color: inherit}
	em{
		float: right;
		margin-top: rem(15);
		display: inline-block;
		min-width: rem(60);
		text-align: center;
		line-height: 1;
		-webkit-box-pack: center;
		color: #fff;
		position: relative;
		padding: rem(14) rem(15);
		border-radius: rem(4) rem(56) rem(56) rem(4);
	}
}

.second-con{
	margin-top: rem(50);
	padding:  rem(50) rem(50) rem(20);

	h3{
		font-size:rem(50);
		line-height: rem(50);
		font-weight:800;
		
	}
	ul{@extend .list-detial;}
}
.tabs-and-boxs{
	width: rem(600);
	margin: 0 auto rem(100);
	background:rgb(134,196,72);
	box-shadow:inset 0px 0px rem(10) 0px rgba(255,255,255,1);
	border-radius:rem(10);
	position: relative;
	z-index: 4;
	.tabs-list{
		@extend .clearfix;
		height: rem(90);
		line-height: rem(90);
		color: #fff;
		text-align: center;
		
		li{
			width: rem(200);
			float: left;
			position: relative;
			z-index: 1;
			
		}
		li.active{
			color:rgba(69,135,94,1);
			font-weight: bold;
			background:rgba(240,255,250,1);
			border-radius: rem(10) rem(10) 0 0;
			position: relative;
			font-size: rem(28);
			z-index: 3;
		}
	}
	.tabs-boxs ul{
		display: none;
		min-height: rem(650);
		padding: rem(40) 0;
		background:rgba(240,255,250,1);
		border-radius:rem(10);
		box-shadow:0px 0px rem(10) 0px rgba(135,204,112,1);
		position: relative;
		z-index: 2;
		&.active{display: block;}
		&:first-child{
			border-radius: 0 rem(10) rem(10);
		}
		&:last-child{
			border-radius: rem(10) 0 rem(10) rem(10);
		}
	}
}



// 三级页面
.third-main{
	position: relative;
	height: 100%;
	background-size: 100% auto;
	box-sizing: border-box;
	padding-top: rem(30);
	-webkit-overflow-scrolling: auto;
	&:before{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		z-index: 2;
	}
	&:after{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: 1;
	}
	>div{
		border-radius: rem(10);
		position: relative;
		margin: 0 rem(40) rem(50);
		padding:  rem(50);
		font-size:rem(28);
		line-height: rem(40);
		position: relative;
		z-index: 3;
		p{text-align: justify}
	}
	.third-res{
		h1{
			position: absolute;
			top: rem(320);
			right: rem(20);
			font-size: rem(50);
			font-weight: 800;
			height: rem(70);
			line-height: rem(70);
			text-align: center;
			padding: 0 rem(15);
			white-space: nowrap;
		}
		img{
			width: rem(640);
			height: rem(340);
			border-radius: rem(4);
			margin: rem(-50+15) 0 0 rem(-50+15);
		}
		.third-tit{margin: rem(-60) 0 rem(40);}
		.third-tit-2{margin-bottom: rem(40);}
	}
	.third-about,.third-content,.third-rec{
		.third-tit{margin: rem(-60) 0 rem(40);}
		.about-text{width: rem(350)}
		.about-img{
			position: absolute;
			top: rem(18);
			right: rem(46);
			width: rem(180);
		}
		.img-2{
			width: rem(230);
			top: rem(90);
			right: 0;
		}
	}
	.third-content{
		.third-tit{margin: rem(-60) 0 rem(20);}
	}
	.third-rec{
		>p{margin-bottom: rem(30);}
		img{width: 100%;}
		.case{
			padding: 0 rem(30);
			position: relative;
			color:rgba(255,255,240,1);
			margin-bottom: rem(20);
			&:before,&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius:rem(10);
				pointer-events: none;
			}
			>span{display: block; color: #fff; height: rem(78); line-height: rem(78);font-size: rem(30)}
			i{
				position: absolute;
				top: rem(20);
				right: rem(30);
				width: rem(30);
				height: rem(30);
				background-image: url(../../images/open-icon.png);
				background-size: 100%;
				transform: rotate(180deg);
			}
			p{color:rgba(255,255,240,.7); display: none;}
			&.open {
				padding-bottom: rem(30);
				i{transform: rotate(0deg);}
				p{
					display: block
				}
				
			}
		}
	}

	.third-bac, .third-why{
		.third-tit{margin: rem(-60) 0 rem(30);}
		.third-tit-3{margin-bottom: rem(40);}
	}
	.third-why{
		margin-bottom: rem(40);
		.table{padding-right: rem(185); position: relative;}
		table{
			width: rem(380);text-align: center; line-height: rem(85);
		}
		th{text-align: center;}
		.res{
			position: absolute;
			top: 0;
			right: 0;
			width: rem(185);
			line-height: rem(30);
			font-size:rem(28);
			text-align: center;
			z-index: 3;
			-webkit-text-stroke: 0 !important;
			color:rgba(240,255,250,1) !important;
			&:before,&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius:rem(10);
			}
			p{height: rem(85);position: relative; overflow: hidden; text-align: center;}
			p:first-child{color:rgba(255,255,240,.5);line-height: rem(85);}
			p span{display: block;width: 100%;position: absolute; top: 50%; transform: translateY(-50%)}
		}
	}
	.hide-why{
		.open-why{
			display: block; text-align: center;padding: rem(40) 0 0;
			margin-bottom: 0;
			i{
				display: inline-block;
				margin-left: rem(20);
				width: rem(30);
				height: rem(30);
				border-radius: rem(30);
				vertical-align: middle;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					left: 25%;
					
					top: 15%;
					display: inline-block;  
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;  
					width: rem(12);
					height: rem(12);  
					transform: rotate(135deg);
				}
			}
		}
		&.open{
			.open-why{padding: rem(40) 0;}
			.open-why i:after{top: 40%;transform: rotate(-45deg);}
			h4{display: inline-block;}
			p{display: block;}
		}
		p{margin-bottom: rem(50);}
		p:last-child{margin-bottom: 0;}
		h4,p{display: none;}
	}
	.third-tit{
		width:rem(230);
		height:rem(90);
		line-height: rem(90);
		font-size:rem(40);
		font-weight:800;
		color:rgba(255,255,240,1);
		text-align: center;
		border-radius:rem(10);
		position: relative;
		z-index: 3;
		&:before,&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius:rem(10);
		}
		span{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: block;
			-webkit-text-stroke: 0;
			color:rgba(255,255,240,1);
		}
	}
	.third-tit-2,.third-tit-3{
		font-size:rem(40);
		font-weight:bold;
		line-height:rem(40);
		position: relative;
		text-align: center;
		span{
			position: relative;
			z-index: 3;
		}
		&:after{
			content: '';
			position: absolute;
			left: 50%;
			top: rem(30);
			margin-left: rem(-150);
			width:rem(300);
			height:rem(20);
			opacity:0.5;
			z-index: 2;
		}
	}
	.third-tit-3{
		display: inline-block;
		font-size: rem(32);
		&:after{
			width: 100%;
			margin-left: 0;
			transform: translateX(-50%);
			margin-left: 0;
		}
	}
}
.back-btn{
	padding:0;
	text-align: center;
	height:rem(100);
	line-height: rem(100);
	border-radius: rem(100);
	background:#fff;
	display: block;
}
.tabs-boxs{position: relative;}
.box-s2{
	position: absolute;
	left: 50%;
	bottom: rem(-24);
	margin-left: rem(-554/2);
	width:rem(554);
	height:rem(200);
	background:rgba(240,255,250,1);
	box-shadow: inset 0px 0px rem(60) 0px rgba(31,167,64,1);
	border-radius:rem(10);
}
.box-s1{
	position: absolute;
	left: 50%;
	bottom: rem(-48);
	margin-left: rem(-520/2);
	width:rem(520);
	height:rem(200);
	background:rgba(240,255,250,1);
	box-shadow: inset 0px 0px rem(60) 0px rgba(31,167,64,1);
	border-radius:rem(10);
}
