@charset "utf-8";

.phone {
  display: none;
}

@media screen and (min-width:1px) and (max-width:1019px) {
  body {
    min-width: 100% !important;

    .container {
      width: 100%;
    }

    .header_top {
      display: none;
    }

    .search-inp {
      display: none;
    }

    .nav {
      width: 100%;
      height: rem(80);
      position: relative;
      z-index: 13;
      background: #fff;

      &:before {
        height: rem(80);
      }

      .nav-top {
        height: rem(80);
      }

      .brand {
        width: auto;
        height: rem(80);
        background: #fff;

        .l,
        .r {
          display: none;
        }

        .m {
          display: block;
        }

        .m {
          position: static;
          display: inline-block;
        }

        a {
          // display: block;
          // height: 100%;
          // background: #063456;
        }

        &:after {
          right: rem(-100);
          height: rem(80);
        }

        a img {
          height: rem(60);
          width: auto;
          margin: rem(10) 0 0 rem(30);
        }
      }

      .nav_list {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        line-height: rem(50);
        z-index: 11;
        left: 0;
        top: rem(80);
        box-sizing: border-box;
        padding: rem(30) 0;
        margin-left: 0;

        a {
          float: none;
          width: 100%;
          display: block;
          text-align: center;
          margin: 0 rem(20);
          border-bottom: 1px solid #fff;
          font-size: rem(24);
          text-align: left;
          line-height: rem(60);
          color: #fff;
          margin-bottom: rem(20);
          text-indent: 1rem;
        }
      }

      .aside {
        width: 100%;
        height: rem(80);
        top: rem(80);
        right: rem(-18);

        img {
          height: rem(80);
        }
      }

      .menu-and-close {
        display: block;
        position: absolute;
        top: rem(15);
        right: rem(15);
        width: rem(50);
        height: rem(50);
        box-sizing: border-box;
        background-image: url(../images/menu.png);
        background-size: 100% 100%;
      }

      .menu-and-close.close {
        background-image: url(../images/close.png)
      }
    }

    .carousel {
      .swiper-container {
        min-width: 100%;
        height: rem(456);

        .swiper-slide {
          min-width: 100%;

          .center {
            bottom: rem(70);
            width: rem(400);
            height: auto;
            background-image: none;
            font-size: rem(28);
            color: rgba(255, 255, 255, 1);
            line-height: rem(36);
            padding: rem(10) rem(12);
            transform: translateX(-50%);
            background: rgba(171, 132, 85, .8);

            &:after {
              display: none;
            }
          }
        }

        .left {
          position: absolute;
          top: auto;
          bottom: 0;
          width: rem(80);
          height: rem(80);
          background-size: 100% 100%;
        }

        .right {
          position: absolute;
          top: auto;
          bottom: 0;
          width: rem(80);
          height: rem(80);
          background-size: 100% 100%;
        }

        // 分页器
        #center {
          bottom: rem(20) !important;

          .swiper-pagination-bullet {
            width: rem(12);
            height: rem(12);
            margin: 0 rem(8);
          }
        }
      }
    }

    // 
    .title {
      margin: rem(66) auto 0;
      height: rem(36);

      .left {
        width: rem(64);
        height: rem(23);
      }

      .right {
        width: rem(64);
        height: rem(25);
        background-image: url(../images/right.png);
      }

      p {
        height: auto;
        font-size: rem(40);
        line-height: rem(48);
      }
    }

    .content {
      margin-top: rem(60);
      height: auto;

      .content_left {
        width: rem(500);
        height: auto;
        transition: all .5s;
        margin: 0 auto;
        margin-right: auto;
        float: none;
        display: block;

        &:last-child {
          margin-right: auto;
        }

        .top {
          span:first-child {
            display: none;
          }

          span:last-child {
            width: auto;
            height: auto;
            font-size: rem(24);
            line-height: rem(30);
            margin-top: rem(30);
            text-align: center;
            display: block;
            padding-top: rem(12);
          }
        }

        .center {
          margin: rem(30) auto 0;
          width: auto;
          font-size: rem(20);
          line-height: 1.5;
          padding: 0 rem(40);
        }

        .bottom {
          position: static;
          margin: rem(25) rem(20);
          padding-bottom: rem(10);
          transform: translateX(0);
          white-space: nowrap;
          text-align: center;

          span {
            display: inline-block;
            width: rem(120);
            height: rem(40);
            font-size: rem(20);
            border-radius: rem(20);
            line-height: rem(40);
            margin: rem(10);
          }
        }
      }
    }

    .new {
      height: auto;
      margin-top: rem(60);

      .new-item {
        display: block;
        width: rem(520);
        height: rem(300);

        &:before {
          width: rem(190);
        }

        .title {
          display: inline-block;
          width: rem(66);
          height: rem(23);
          margin: rem(36) 0 0 rem(40);
          border-radius: rem(15);
          font-size: rem(12);
          line-height: rem(24);
          white-space: nowrap;
        }

        .span {
          padding: 0 rem(365) 0 rem(43);
          margin-top: rem(19);
          line-height: rem(28);
          height: rem(28*8);

          p {
            font-size: rem(16);
          }
        }

        a {
          height: rem(13);
          font-size: rem(12);
          margin-left: rem(43);
          ;
        }
      }
    }

    .news-warp {
      width: rem(520);
      // transform: scale(1.1);
      margin-bottom: rem(20);
    }

    .news-boll {
      left: 50%;
      transform: translateX(-50%) !important;
    }

    .boll {
      margin-top: rem(10);

      span {
        width: rem(12);
        height: rem(12);
        margin: 0 rem(10);
      }
    }

    .newList {
      padding-top: rem(30);
      width: rem(520);
      height: auto;
      margin: rem(70) auto;
      overflow: hidden;

      .newText {
        width: 100%;
        height: auto;
        margin: 0 auto rem(40);

        .left {
          width: rem(56);
          height: rem(80);
          background: url(../images/new_bg2.png) top left;
          padding: rem(12);
          margin-top: rem(5);
          text-align: center;

          span {
            &.month {
              margin-top: rem(18);
              line-height: rem(14);
            }

            &.day {
              font-size: rem(20);
              line-height: rem(24);
            }

            &.l_new {
              text-align: center;
              width: rem(80);
              margin-left: rem(-12);
              margin-top: rem(40);
              font-size: rem(16);
              line-height: 1.5;
              white-space: nowrap;
            }
          }
        }

        .p1 {
          margin-bottom: rem(6);
          padding-bottom: 0;
          padding-left: rem(24);
          font-size: rem(24);
          line-height: rem(28);
        }

        .p2 {
          width: rem(410);
          padding-left: rem(24);
          font-size: rem(20);
          color: rgba(154, 154, 154, 1);
          line-height: rem(32);
        }
      }

      .newText:nth-child(2) {
        .p2 {
          width: rem(410);
        }
      }

      .newText:nth-child(3) {
        .p2 {
          width: rem(410);
        }
      }
    }

    .school_life {
      margin-top: rem(20);
      min-width: 100%;
      height: auto;
      background-image: url(../images/school_life.png);
      background-size: auto 100%;
      overflow: hidden;
      padding-top: rem(50);

      p:first-child {
        font-size: 2rem;
        line-height: 2.4rem;
        height: auto;
        font-weight: bold;
        margin-bottom: rem(40);
      }

      .school_life_list {
        width: 100%;
        text-align: center;
        margin-bottom: rem(80);

        a {
          width: rem(180);
          height: rem(40);
          font-size: rem(22);
          line-height: rem(40);
          background-size: 100% 100%;
        }
      }

      .school_life_content {
        display: none;
        width: 100%;
        height: auto;

        .slc_txt {
          width: rem(520);
          height: rem(180);
          display: block;
          margin: 0 auto;
          margin-bottom: rem(30);
          float: none;

          .left {
            width: rem(80);
            height: 100%;
            padding-left: rem(10);
            margin-right: 0;
            padding-top: rem(8);

            span {
              display: inline-block;
              width: 100%;
              color: rgba(6, 52, 86, 1);
              line-height: rem(18);
              padding-left: rem(5);
              transition: all .3s;

              &.month {
                line-height: rem(20);
              }

              &.day {
                font-size: rem(26);
              }
            }
          }

          .p1 {
            padding: 0 0 rem(12) rem(20);
            font-size: rem(24);
            line-height: rem(32);
          }

          .p2 {
            width: rem(420);
            padding-left: rem(20);
            font-size: rem(20);
            line-height: rem(30);
          }
        }

        .slc_txt:first-child {
          margin-right: auto;

          .p2 {
            width: rem(420);
          }
        }
      }

      .search {
        margin: rem(40) 0 rem(50);

        a {
          display: inline-block;
          width: 113px;
          height: 14px;
          font-size: 14px;
          font-weight: 400;
          text-decoration: underline;
          color: rgba(171, 132, 85, 1);
          transition: all .3s;
          white-space: nowrap;

          &:hover {
            transform: scale(1.2)
          }
        }
      }
    }

    .student_life {
      width: 100%;

      .boll {
        margin-top: rem(0);
      }

      .title {
        margin: rem(60) auto 0;
        height: rem(40);
        margin-bottom: rem(70);

        .left {
          width: rem(64);
          height: rem(32);
          margin-left: rem(30);
          background-size: 100% 100%;
        }

        .right {
          width: rem(64);
          height: rem(32);
          margin-right: rem(30);
          background-size: 100% 100%;
        }

        p {
          font-size: 2rem;
          line-height: 2.4rem;
          height: auto;
          font-weight: bold;
          margin-bottom: rem(40);
        }

        .txt {
          font-size: rem(20);
          line-height: rem(24);
          padding-left: 0;
        }
      }

      .student_content {
        width: rem(440*3+40);
        padding: rem(80) rem(20) 0;
        margin-left: rem(-460+100);
        transform: translateX(0);

        .student_min {
          width: rem(330) !important;
          padding: 0 rem(55);
        }

        .in {
          margin-top: rem(58);
          width: rem(330);
          height: rem(420);

          img {
            display: block;
            width: 100%;
            height: rem(207);
          }

          .p1 {
            width: rem(180);
            height: rem(44);
            line-height: rem(20);
            margin-left: rem(28);
            background-repeat: no-repeat;

            span:first-child {
              font-size: rem(17);
            }

            span:last-child {
              font-size: rem(12);
            }

            top: rem(184);
            left: rem(-28);
            background-size: rem(180) rem(43);
            line-height: rem(43);
            padding-left: rem(28);
          }

          .p2 {
            width: rem(204);
            font-size: rem(16);
            line-height: rem(24);
            margin-top: rem(76);
            margin-left: rem(65);
          }

          i {
            width: rem(31);
            height: rem(22);

            &.left {
              bottom: rem(124);
              left: rem(23);
            }

            &.right {
              bottom: rem(60);
              right: rem(40);
            }
          }
        }

        .swiper-slide-next {
          width: rem(440) !important;
          padding: 0;
        }

        .student_max .in,
        .swiper-slide-next .in {
          width: rem(440);
          height: rem(554);
          top: rem(-60);
          margin-right: rem(40);
          box-shadow: 0px 3px rem(40) 0px rgba(0, 0, 0, 0.31);

          &:hover {
            box-shadow: 0px 3px rem(40) 0px rgba(0, 0, 0, 0.7);
          }

          img {
            width: 100%;
            height: rem(260);
          }

          .p1 {
            width: rem(236);
            height: rem(55);
            margin-left: rem(36);

            span:first-child {
              font-size: rem(20);
            }

            span:last-child {
              font-size: re(16);
            }

            top: rem(240);
            left: rem(-35);
            background-image: url(../images/studentName_bg1.png);
            background-size: rem(236) rem(55);
            line-height: rem(55);
            padding-left: rem(36);
          }

          .p2 {
            width: rem(273);
            font-size: rem(16);
            line-height: rem(30);
            margin-top: rem(78);
            margin-left: rem(90);
          }

          i {
            width: rem(47);
            height: rem(34);

            &.left {
              bottom: rem(182);
              left: rem(34);
            }

            &.right {
              bottom: rem(68);
              right: rem(41);
            }
          }
        }
      }
    }

    footer {
      margin-top: rem(80);

      p {
        height: auto;
        font-size: rem(18);
        line-height: rem(30);
      }

      .footer_top {
        width: 100%;
        height: auto;

        .top_left {
          display: block;
          float: none;
          padding: rem(30) 0;
          width: 100%;
          text-align: center;

          a {
            padding-bottom: rem(20);

            img {
              width: rem(520);
              height: auto;
            }
          }
        }

        .top_right {
          display: block;
          float: none;
          padding: rem(20) 0;
          text-align: center;
        }

      }

      .footer_botttom {
        height: auto;
        padding: rem(30) 0;

        p {
          float: none;
          display: block;
          text-align: center;
        }

        .line_bottom {
          width: 90%;
          margin: 0 auto;
          display: block;
          margin-bottom: rem(30);
        }

        p {
          margin-top: rem(6);
        }
      }
    }
  }

  // 公共
  .container-2 {
    width: 100%;
  }

  .ty-banner {
    height: rem(150);

    img {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    h2 {
      width: rem(337/1.5);
      height: rem(74/1.5);
      line-height: rem(74/1.5);
      font-size: rem(20);
      left: rem(50);
      bottom: rem(80/1.5);

      &:after {
        width: rem(211/1.5);
        height: rem(158/1.5);
        right: rem(-49/1.5);
      }
    }

    .nav-list {
      height: rem(40);
      line-height: rem(40);
      font-size: rem(20);

      span {
        &:before {
          width: rem(4);
          height: rem(4);
          vertical-align: rem(4);
          margin: 0 rem(10) 0;
        }
      }
    }
  }

  .ty-title {
    font-size: rem(42);
    line-height: rem(80);

    .prev-icon,
    .next-icon {
      width: rem(64);
      height: rem(24);
      top: rem(28);
    }
  }

  .list-nums {

    .prev,
    .next {
      width: rem(64);
      height: rem(24);
      top: rem(28);
    }

    .nums {
      line-height: rem(72);

      a {
        margin-right: rem(20);
        font-size: rem(20);
      }
    }
  }

  .ty-more,
  .ty-more-1 {
    font-size: rem(16);
    line-height: rem(20);

    &:hover {
      font-size: rem(18);
    }
  }

  .ty-more-2 {
    display: block;
    width: rem(233);
    height: rem(74-15);
    font-size: rem(20);
    padding-top: rem(15);
    line-height: rem(62);
    text-indent: rem(50);

    &:hover {
      font-size: rem(24);
    }
  }

  .ty-more-3 {
    width: rem(233);
    height: rem(53);
    font-size: rem(20);
    line-height: rem(53);

    &:hover {
      font-size: rem(24);
    }
  }

  .ty-more-4 {
    width: rem(190);
    padding-right: rem(32);
    height: rem(58);
    line-height: rem(58);
    font-size: rem(20);

    &:hover {
      font-size: rem(24);
    }
  }

  .ty-bolls {
    margin-top: rem(27);

    span {
      width: rem(12);
      height: rem(12);
      margin: 0 rem(10);
    }
  }

  // 关于我们
  .ty-dean {
    padding: rem(80) rem(50);
    width: 100%;
    box-sizing: border-box;

    .dean-img {
      width: 100%;

      img {
        width: 100%;
      }

      .name {
        width: rem(407);
        height: rem(122);
        bottom: rem(20);
        right: rem(-16);
      }

      h3 {
        font-size: rem(24);
        padding: rem(12) rem(80) 0 0;
      }

      p {
        font-size: rem(18);
        opacity: .7;
        padding-right: rem(80);
      }
    }

    .dean-say {
      width: 100%;
      padding-top: rem(40);

      p {
        font-size: rem(18);
        line-height: rem(30);
        margin-bottom: rem(30);
      }

      .ty-title {
        margin-bottom: rem(20);
      }

      .write-img {
        padding-top: rem(26);
        width: rem(166);
      }
    }
  }

  .ty-products {
    padding: rem(80) 0;

    .ty-products-in {
      width: 100%;
      margin: 0 auto;
    }

    .ty-title {
      width: 90%;
      margin: 0 auto rem(56);
    }

    .ty-products-con {
      width: 80%;

      .products-list {
        height: 100%;
      }

      .ty-bolls span {
        margin: 0 rem(9);
      }

      .product {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        padding: rem(60) rem(50) 0;
        float: none;

        h4 {
          font-size: rem(24);
          line-height: rem(36);
          padding-left: rem(30);
          height: rem(36);
          margin-bottom: rem(28);

          &:before {
            width: rem(28);
            height: rem(20);
            top: rem(6);
          }
        }

        p {
          font-size: rem(20);
          line-height: rem(28);
          height: rem(28*8);
        }

        .ty-more {
          margin: rem(40) 0;
        }
      }
    }
  }

  .ty-general {
    padding: rem(70) 0 rem(210);

    .ty-title {
      margin-bottom: rem(60);
    }

    .in {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
        margin-left: 40%;
      }

      p {
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
        padding: rem(60);
        font-size: rem(20);
        line-height: rem(36);
        left: 5%;
        top: 30%;
      }

      a {
        position: absolute;
        left: rem(0);
        bottom: rem(-120);
      }
    }
  }

  .ty-training {
    width: 100%;
    padding: rem(80) 0;

    img {
      position: absolute;
    }

    .in {
      width: 90%;
      font-size: rem(20);
      line-height: rem(30);

      h3 {
        margin-bottom: rem(30);
      }

      p {
        margin-bottom: rem(30);
      }

      a {
        margin: rem(65) auto 0;
      }
    }
  }

  .ty-connect {
    padding: rem(80) 0;
    width: 90%;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .in {
      position: absolute;
      width: 90%;
      height: auto;
      top: rem(100);
      margin-left: -45%;

      .ty-title {
        padding-top: rem(30);
        margin-bottom: rem(20);
      }

      p {
        width: 90%;
        font-size: rem(20);
      }

      a {
        position: static;
        margin-left: rem(-11);
        width: rem(526);

        &:hover {
          font-size: rem(21);
        }
      }
    }
  }

  // 新闻
  .ty-news-top {
    width: 100%;
    height: auto;
    position: relative;

    .ty-news-swiper {
      position: absolute;
      left: 5%;
      top: rem(26);
      padding-top: rem(100);
      width: 90%;
      height: auto;
    }

    .new-block {
      width: 100%;
      box-sizing: border-box;
      align-self: auto;
      padding: rem(70);
      height: auto;

      span {
        position: absolute;
        top: rem(-22);
        left: rem(70);
        width: rem(178);
        height: rem(45);
        line-height: rem(45);
        font-size: rem(20);
      }

      h2 {
        font-size: rem(24);
        line-height: rem(32);
        height: rem(64);
        margin-bottom: rem(16);
      }

      p {
        font-size: rem(20);
        line-height: rem(30);
        height: rem(120);
      }
    }

    .ty-bolls {
      left: rem(60) !important;
      bottom: rem(26) !important;
    }

    .imgs {
      .in {
        width: 100%;
        height: rem(600);
      }

      img {
        display: none;
        height: rem(600);
        position: static;
      }

      .active {
        display: block;
      }
    }
  }

  .news {
    height: rem(152);

    h2 {
      bottom: rem(26);
      right: rem(65);

      &:after {
        width: rem(167/1.5);
        height: rem(114/1.5);
      }
    }
  }

  .ty-new-list {
    width: 100%;

    .list {
      padding: rem(50) 0;
      margin-left: 0;

      >a {
        display: block;
        width: rem(456);
        height: auto;
        margin-left: 0;
        float: none;
        padding: rem(50);
        margin: 0 auto rem(38);

        &:before {
          width: rem(600);
          height: rem(3);
        }

        &:hover {
          box-shadow: 0 0 rem(12) rgba(0, 0, 0, .3);
        }
      }
    }

    .time {
      float: left;
      font-size: rem(20);
      line-height: rem(28);
      width: rem(30);

      strong {
        font-size: rem(25);
      }
    }

    .detial {
      float: left;
      width: rem(400);
      box-sizing: border-box;
      padding-left: rem(42);
      margin-left: rem(20);

      h3 {
        font-size: rem(24);
        line-height: rem(40);
        margin-bottom: rem(18);
        height: rem(80);
      }

      p {
        font-size: rem(20);
        line-height: rem(28);
        height: rem(28*6);
      }

      &:before {
        width: 1px;
        left: rem(10);
        height: rem(165);
      }
    }
  }

  .ty-crumbs {
    position: static;
    line-height: rem(50);
    font-size: rem(18);
    margin-left: rem(30);
    padding-top: rem(15);

    a {
      &:after {
        margin: 0 3px;
      }
    }
  }

  .ty-new-list2,
  .ty-new-list3 {
    width: 90%;
    margin: 0 auto;

    .list {
      padding-bottom: rem(50);

      a {
        width: 100%;
        height: auto;
        padding-bottom: rem(30);
        margin-bottom: rem(30);
      }
    }

    img {
      width: 100%;
      height: auto;
      margin: rem(2);
      float: none;
    }

    .time {
      clear: both;
      float: left;
      font-size: rem(18);
      line-height: rem(24);
      width: rem(30);
      margin-left: rem(10);
      padding-top: rem(45);

      strong {
        font-size: rem(24);
        margin-top: rem(6);
      }
    }

    .detial {
      float: left;
      width: rem(500);
      box-sizing: border-box;
      padding-left: rem(42);
      margin-left: 0;
      margin-top: rem(20);

      h3 {
        font-size: rem(24);
        line-height: rem(30);
        height: rem(60);
        margin-bottom: rem(18);
      }

      p {
        font-size: rem(20);
        line-height: rem(30);
        height: auto;
        max-height: rem(120);
        overflow: hidden;
      }

      &:before {
        height: rem(165);
        left: rem(20);
      }
    }
  }

  .ty-new-detial {
    width: 90%;
    margin: 0 auto;
  
    .ty-title {
      padding: rem(40) 0;
      font-size: rem(36);
      line-height: 1.5;
      text-align: left;
      margin-bottom: rem(20);
    }
  
    .left-bar {
      float: none;
      width: 100%;
      margin: 0 auto;
      margin-bottom: rem(50);
  
      .time {
        padding: rem(15);
        display: inline-block;
        vertical-align: middle;
        font-size: rem(18);
        margin-bottom: rem(0);
  
        strong {
          font-size: rem(28);
        }
      }
  
      .share {
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(30);
        width: auto;
  
        p {
          display: none;
        }
  
        a {
          margin-bottom: 0;
          margin-right: rem(10);
          width: rem(50);
          height: rem(50);
          line-height: rem(50);
          border-radius: 50%;
          font-size: rem(25);
        }
      }
    }
  
    .new-main {
      float: none;
      width: 100%;
      font-size: rem(20);
      line-height: rem(30);
      margin-left: 0;
  
      p {
        text-indent: rem(40);
        margin-bottom: rem(30);
      }
  
      img {
        width: 90%;
      }
  
      .img-detial {
        font-size: rem(18);
        line-height: rem(30);
        margin: rem(10) 0 rem(30);
      }
    }
  }

}