@charset "utf-8";

.oh{ overflow: hidden; }
body{ background-color: #fff; font-family: "黑体"; min-width: 1300px; }

// 首页补充

.news-warp{
  position: relative;
  width: 1070px;
  margin: 0 auto;
  overflow-x: hidden;
}
.news-boll{
  left: 50%;
  transform: translateX(-50%) !important;
}


