@charset "utf-8";

.oh{ overflow: hidden; }
body{ background-color: #fff; font-family: "微软雅黑"; min-width: 1300px; }

// public and index
.roya-nav { padding: 0 6%; line-height: 78px; height: 78px; @extend .clearfix; position: fixed; top: 0; left: 0; width: 100%; box-sizing: border-box; z-index: 3;
	.logo { float: left; vertical-align: middle; padding-top: 8px;
		img {height: 60px;}
	}
	>ul{ float: right; @extend .clearfix;
		>li{font-size: 22px; padding: 0 24px; float: left;
			img { width: 22px; cursor: pointer; vertical-align: -3px; }
		}
	}
}
.black { background-color: #000;
	.roya-nav {
		color: #fff;
		a{ color: #fff; }
	}
}
.roya-slider {
	height: 700px;
	width: 100%;
	position: relative;
	.swiper-container {
		width: 100%;
		height: 100%;
		img{ width: 100%; height: 100%; }
	}
	.next,.pre{
		position: relative;
		display: block;
		width: 32px;
		height: 32px;
		background-image: url(../images/left.png);
		position: absolute;
		background-size: 100%;
		left: 50px;
		top: 340px;
		z-index: 1;
	}
	.next{
		transform: rotate(180deg);
		left: auto;
		right: 50px;
	}
	
}
.roya-pics {
	width: 1260px;
	margin: 0 auto;
	.pic-group {padding: 20px 0; line-height: 36px; font-size: 18px;
		ul { @extend .clearfix; padding-left: 620px; position: relative;
			&:nth-child(even) {
				padding-left: 0;
				padding-right: 620px;
				li {
					margin-left: 0;
					margin-right: 30px;
				}
				.big{ margin-right: 0; right: 0; left: auto; }
			}
		}
		img{ display: block; }
		li {
			float: left;
			width: 290px;
			height: 216px;
			margin-left: 30px;
			img{ width: 290px; height: 160px; }
		}
		.big {
			position: absolute;
			left: 0;
			top: 0;
			width: 610px;
			height: 440px;
			margin-left: 0;
			img{ width: 610px; height: 376px; }
		}
	}
}
.show_more{
	width: 120px;
	display: block;
	margin: 0 auto;
	font-size: 18px;
}
.roya-footer {
	width: 1260px;
	margin: 0 auto;
	font-size: 18px;
	color: #999;
	overflow: hidden;
	padding: 100px 0 24px;
	@extend .clearfix;

	span{
		float: left;
	}
	ul { float: right;
		li{float: left;}
	}
	a {
		color: #999;
		margin-left: 30px;
	}
	.advice {
		cursor: pointer;
		margin-left: 50px;
	}
}
.about {
	padding-top: 150px;
	color: #fff;
	width: 1260px;
	margin: 0 auto;
	.head{
		@extend .clearfix;
		h2{
			float: left;
			width: 50%;
			font-size: 36px;
			font-weight: bold;
		}
	}
	.words {
		width: 50%;
		display: block;
		float: left;
		font-size: 15px;
		p{
			margin-bottom: 24px;
		}
	}
	.l{
		float: left;
		width: 40%;
		font-size: 14px;
		h2{
			font-size: 42px;
			font-weight: bold;
		}
		h3 {
			font-size: 38px;
			color: #666;
			margin-bottom: 80px;
		}
		p{
			margin-bottom: 30px;
		}
	}
	.r{
		float: right;
		width: 50%;
		img {
			width: 100%;
		}
	}
}
.person-list {
	width: 1260px;
	overflow: hidden;
	margin: 0 auto;
	ul {
		width: 1290px;
		margin-left: -30px;
		@extend .clearfix;
		li{
			width: 400px;
			height: 500px;
			margin-left: 30px;
			float: left;
			img{
				width: 400px;
				height: 400px;
				display: block;
				margin-bottom: 6px;
			}
			h4 {font-size: 18px;
				text-decoration: underline;
				cursor: pointer;
			}
			span {font-size: 16px; color: #666}
		}
	}
}
.connect {
	padding-top: 150px;
	width: 1260px;
	margin: 0 auto;
	h2 {
		font-size: 44px;
		color: #000;
		margin-bottom: 80px;
	}
	ul{
		@extend .clearfix;
		width: 1260px;
		margin: 0 auto;
		li{
			width: 600px;
			float: left;
			margin-left: 30px;
			img{
				width: 600px;
			}
			&:nth-child(odd){
				margin-left: 0;
			}
			h3 {
				font-size: 22px;
				font-weight: bold;
				margin-bottom: 40px;
			}
			.email {
				font-size: 14px;
				color: #666;
				text-decoration: underline;
			}
			.tel{
				display: block;
				font-size: 14px;
				color: #666;
				margin-bottom: 40px;
			}
			.area {
				font-size: 14px;
				color: #666;
			}
		}
	}
}
.news-head {
	padding-top: 150px;
	width: 1260px;
	margin: 0 auto;
	@extend .clearfix;
	padding-bottom: 80px;
	border-bottom: 1px solid #999;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100px;
		bottom: -1px;
		left: 0;
		height: 1px;
		background-color: #000;
	}
	h2 {
		font-size: 44px;
		color: #000;
		float: left;
		width: 50%;
	}
	ul{
		width: 50%;
		float: left;
		@extend .clearfix;
		li{
			float: left;
			width: 50%;
			color: #999;
			cursor: pointer;

			&:before{
				content: '';
				display: inline-block;
				width: 6px;
				height: 6px;
				border: 1px solid #999;
				margin: 0 6px;
			}
		}
		.active{
			color: #000;
			a{color: #000;}
			&:before{
				border-color: #999;
				background-color: #000;
			}
		}
		a{
			color: #999;
		}
	}
}
.news-con {
	width: 1260px;
	margin: 0 auto;

	ul{
		width: 1260 - 630px;
		padding-left: 630px;
		padding-top: 60px;
		padding-bottom: 60px;
		height: 500px;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #999;

		li{
			width: 600px;
			margin: 0 0 30px 30px;
			float: left;
			img{ width: 220px; height: 220px; float: left;}
			h4{ float: left; font-size: 20px;margin-bottom: 12px; padding-left: 20px; width: 200px; }
			.tag{ float: left; font-size: 12px; color: #999; padding-left: 20px; width: 300px; }
			.info{ display: none; font-size: 14px; }
		}

		.big{ position: absolute; left: 0; top: 60px; margin: 0;
			img{width: 100%; height: auto;}
			h4, .tag{ float: none; display: block; width: auto; padding-left: 0;}
			.info{ display: block; }
		}

		&:nth-child(2n){ padding-left: 0; padding-right: 630px;
			.big{left: auto; right: 0;}
		}
	}
}

.work-head {
	border-bottom: 1px solid #999;
	padding-top: 150px;
	@extend .clearfix;
	width: 1260px;
	margin: 0 auto;
	height: 66px;
	line-height: 66px;
	h2 {
		font-size: 44px;
		color: #000;
		float: left;
		width: 33%;
	}
	ul {
		float: left;
		li{
			float: left;
			display: block;
			margin-left: 30px;
			border-bottom: 1px solid #999;
			padding: 0 12px;
			font-size: 16px;
			a {color: #999}
		}
		.active {
			height: 65px;
			border-bottom: 2px solid #000;
			a {color: #000}
		}
	}
}
.work-type-1 {
	width: 1260px;
	padding-top: 40px;
	margin: 0 auto;
	ul{
		width: 1290px;
		margin-left: -30px;
		li{
			margin-left: 30px;
			width: 400px;
			float: left;
			img{
				width: 100%;
				height: 250px;
			}
			h4{
				height: 60px;
				line-height: 70px;
				overflow: hidden;
				font-size: 18px;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.work-type-2 {
	width: 1260px;
	padding-top: 40px;
	margin: 0 auto;
	h3 { font-size: 30px; font-weight: bold;
		a{ float: right; color: #e61428; font-size: 14px; font-weight: normal; line-height: 30px;
			&:hover {text-decoration: underline}
		}
	}
	ul{
		width: 1280px;
		margin-left: -20px;
		padding: 24px 0;
		@extend .clearfix;
		li{
			margin-left: 20px;
			width: 300px;
			float: left;
			img{
				width: 100%;
				height: 190px;
			}
			h4{
				height: 60px;
				line-height: 70px;
				overflow: hidden;
				font-size: 18px;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.newsletter, .search {
	background: #f2f2f2;
	width: 100%;
	min-width: 1260px;
	overflow: hidden;
	display: none;
	.in{
		width: 1260px;
		padding: 20px 0;
		margin: 0 auto;
		position: relative;
		font-size: 40px;
		.text{ 
			border: 0;
			font-weight: 500;
			background: #f2f2f2;
			display: block;
			width: calc(100% - 120px);
			padding: 0;
			border: 0 none;
			height: 60px;
			line-height: 60px;
			outline: none;
		}
		.sub{
			position: absolute;
			right: 0;
			top: 30px;
			border: 0 none;
			background: none;
			outline: none;
			cursor: pointer;
			color: #999;
		}
	}
}
.search { position: fixed; top: 0; left: 0; z-index: 2; background-color: #fff; padding-top: 100px;
	.in .text{ background: #fff; }
}
.swiper-slide {
	position: relative;
}
.slide-text {
	position: absolute; 
	left: 50%;
	width: 1260px;
	margin-left: -630px;
	bottom: 20px;
	z-index: 2;
	font-size: 14px;
	p{
		float: left;
	}
	strong{
		font-size: 18px;
		float: right;
	}
}
// 手机
.phone{ display: none; }

@media screen and (min-width:1px) and (max-width:1019px){

}
